[2019-03-20 13:18] bryanibit opened #104 "How to visualize PointCloud2 lidar?"
I can plot and show images via [official website](https://cruise-automation.github.io/webviz/webviz-core.html). However, I can not visualize 3d point clouds whose format is pointcloud2. Nowadays, I have install dependancy and install storybook and I am using firefox on ubuntu 16.04.
Could you please tell me how to achieve it? Thank you!

[2019-03-20 17:34] janpaul123 commented on #104
We currently do not support visualizing 3d point clouds in the webviz-core tool, but we're working on it. Stay tuned!

[2019-04-02 13:38] baker-Xie opened #118 "How to visualize data from a live server?"
We want to run our ros application, and transfer the data to worldview to visualize. But how to connect the C++ Ros node to worldview? Thanks

[2019-04-02 16:53] janpaul123 commented on #118
This is currently not possible. We are working on bringing Worldview into [Webviz](https://cruise-automation.github.io/webviz/webviz-core.html) (see #104), which will allow you to drag in a recorded ROS bag file and visualize it in 3D. But connecting to a live ROS application is a bit more difficult. We might support that in the future.

[2019-04-03 21:37] edufford opened #120 "Electron packaged core Webviz as stand-alone app"
Not sure if this is useful for others, but I thought it might be handy to be able to package the core Webviz ROS bag analyzer app into a stand-alone Electron application.

I made a ["webviz-electron" branch on my fork](https://github.com/edufford/webviz/tree/webviz-electron) with mods to do this, but it has only been tested for Mac and Ubuntu Linux so far.  Electron-builder should be able to packa

[2019-04-03 23:30] janpaul123 commented on #120
Cool stuff! What’s your use case for an electron app exactly?

[2019-04-04 02:41] edufford commented on #120
I'm new to Node/React and Electron so mainly I was just curious to learn about how the projects are structured, built, and deployed/packaged.

From previous work in automotive development though, a few potential use cases for offline stand-alone data analysis that I was thinking about are:

1. On-road testing in development vehicles using laptops without online access
2. Lab PCs that might be isol

[2019-04-04 17:09] janpaul123 commented on #120
Ah that makes sense! Since Webviz is just a static page I'd recommend downloading the [gh-pages branch](https://github.com/cruise-automation/webviz/tree/gh-pages) (or going to the website and using the "Save as" feature of most browsers) and then opening webviz-core.html in a browser.

That said, we might revisit using an Electron app in the future, since it would allow us to use some more powerfu

[2019-04-04 17:09] #120 closed

[2019-04-04 20:22] edufford commented on #120
Ah, I see.  Thanks for the feedback.

Actually, before using Electron, I had tried just loading the webviz-core.html file from the gh-pages branch pack but it fails to load a bag file when dropped onto the page (Chrome, Firefox, and Safari, Mac and Linux), so I figured there was something dynamic that needed a web server to load.

I looked into it some more, and it seems there are a couple issues

[2019-04-04 21:26] janpaul123 commented on #120
Ah good points! And thanks for the writeup! For now the simple workaround for most of this is running a http server, which can be done by running `python -m SimpleHTTPServer 8000` in the root of the gh-pages branch, or by running `npm run docs` in the master branch.

[2019-04-17 15:38] yukkysaito opened #129 "How to visualize ros topic in real time"
Can I view the topic of ros in real time?
(Will this replace Rviz in the future? Rviz is heavy processing load... )

thank you

[2019-04-17 17:18] janpaul123 commented on #129
We currently only support bag files, but we might support connecting to a live ROS master in the future (see https://github.com/cruise-automation/webviz/issues/118).

[2019-04-17 17:18] #129 closed

[2019-05-15 18:37] calvinwyoung commented on #104
I have to visualize a terrain surface using a point cloud. I'm currently able to do this by rendering a large set of Points (downsampled of course). This works reasonably well but it's not awesome.

For this specific use case, does Worldview support rendering a mesh instead of a collection of points? It'd be cool if I could use something like the `<Grid />` component to render a mesh of the terrai

[2019-05-15 18:59] jtbandes commented on #104
That sounds like it might be a separate issue from this one. What's the original format of your terrain data? The [Marker](http://wiki.ros.org/rviz/DisplayTypes/Marker) message has a MESH_RESOURCE type, but it's unsuitable for browser-based visualization because it points to a file on your local disk. Conceivably, support could be added to webviz for a wireframe mesh if all the data were contained

[2019-05-15 20:35] calvinwyoung commented on #104
Got it, all of that that makes sense. Fwiw, *are* using the `Marker` message type -- just wanted to see if your team had a recommendation for how to convert it or pre-process it for web visualization.

[2019-05-16 06:35] jtbandes commented on #104
Which `type` of marker are you using? Keep an eye on #137 — we're close to adding our 3D panel which supports Markers out of the box (except MESH_RESOURCE).

[2019-05-16 20:33] calvinwyoung commented on #104
Ah cool, thanks for the heads up — will keep an eye on it. We're using `POINTS` internally at the moment.

[2019-05-18 00:53] aargondizza opened #138 "How to visualize ROS OccupancyGrid?"
Is there a Worldview command that corresponds best to ROS's OccupancyGrid? I'm thinking you could use FilledPolygons, constructing the x, y, z from the OccupancyGrid cell's indices and the width, height, position of the OccupancyGrid - then setting the alpha of the polygon from the cell value. However, it seems like the Triangles type has some nice features where it assumes triplets of points make

[2019-05-21 00:38] janpaul123 commented on #138
It's not part of Worldview, but in Webviz we've just [shipped](https://github.com/cruise-automation/webviz/pull/141) the 3d panel which includes an [OccupancyGrids renderer](https://github.com/cruise-automation/webviz/blob/187c3695d/packages/webviz-core/src/panels/ThreeDimensionalViz/commands/OccupancyGrids.js). Hope that solves your issue?

[2019-05-21 00:39] janpaul123 commented on #104
Should be solved per our latest update (#141). 🎉 (Feel free to file a new bug when you have a specific issue with the new 3D panel.)

[2019-05-21 00:39] #104 closed

[2019-05-21 01:56] calvinwyoung commented on #104
This is awesome, thanks guys!

[2019-05-28 03:58] yokyj opened #144 "how to control the playing process"
Hi
I see that the webviz uses rosbag.js to read a ros bag file which is also maintained by cruise.
But I can't find the code that how you control the process like pause.
The way to get the result is to call bag.readMessages(options, callback),how I can pause a callback?Or is there a graph showing the webviz's data flow?

sincerely
Keyj

[2019-05-28 20:23] janpaul123 commented on #144
Currently there is no diagram, that's a good idea though. If you want a concept of play/pause you can just make lots of calls to `bag.readMessages` that span short time ranges. That's what we do in Webviz. Hope that makes sense?

[2019-05-29 09:33] yokyj commented on #144
That helps.Thank you

[2019-05-29 09:33] #144 closed

[2019-06-14 20:14] palafranchise opened #153 "camera/rgb... sensor_msgs/Image Messages don't render in the image view"
I've got a couple of ROS bags with sensor_msgs/Image messages on camera/rgb/image_raw and comera/rgb/image_color. I see the messages in the raw message viewer but I don't see anything rendered in the Image view. I've tried a couple of different bags, compressed, uncompressed, etc. with no luck. I do see /camera/depth/image sensor_msgs/Image(s) in the Image viewer. Is there anything additional I ne

[2019-06-17 21:45] palafranchise commented on #153
Update: I tried running locally but didn't get any additional errors or change in behavior. Note: I do see an error about missing wasm binary (both locally and when using the example at "https://webviz.io/try/").

[code]

[2019-06-17 21:56] vidaaudrey commented on #153
I saw that you just posted about the wasm error, is it gone?  Would be helpful if you could share a sample bag with us so we check the issue in details.

[2019-06-17 22:22] palafranchise commented on #153
I thought the wasm error was unrelated... pasted below for reference. I'll see if I can find a way to upload the bag file I'm testing with.

[code]

[2019-06-17 22:35] palafranchise commented on #153
I've been using this bag file which has both "/camera/depth/image" and "/camera/rgb/image_color" topics with Image messages.

https://vision.in.tum.de/rgbd/dataset/freiburg1/rgbd_dataset_freiburg1_xyz.bag

Note: I had to decompress it.

Here's the `rosbag info` output:

[code]

[2019-06-17 22:37] palafranchise commented on #153
Do you have a working bag file you can share?

[2019-06-18 01:56] vidaaudrey commented on #153
We are working on adding some sample bags. It'll be available soon.

Looks like the bag is using type `bz2` compression which we don't yet support. It's hitting the path here:
https://github.com/cruise-automation/rosbag.js/blob/46365742845f343f1a7e17e2145b8e23293dbbcf/src/BagReader.js#L254

Currently the rosbag.js library only support `lz4` compression. Might be able to get around by converting. @

[2019-06-18 16:59] palafranchise commented on #153
Yup, the link I sent is to a compressed bag. But I uncompressed it (unless there's an additional compression I'm missing). See the the rosbag info above. I've tried with both uncompressed and lz4 compressed bags but I get the same behavior: the sensor_msgs/Image messages are there but the image view does not render messages on the /camera/rgb/image_color topic.

[2019-06-18 17:34] brianc commented on #153
@palafranchise  We have manually created image decoders for the images encodings we use inside our bags at Cruise.  It's possible you are encoding images in formats we don't have support for yet.  What encodings are you using?  You should be able to get this from the raw message inspector for an [image message](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/Image.html) on the "encoding" fiel

[2019-06-18 20:04] palafranchise commented on #153
Ah, I see. The images which are not appearing have encoding values of "rgb8". What encoding format did you use?

[2019-06-18 20:40] palafranchise commented on #153
Or, which encoding formats does the tool support?

[2019-06-19 15:51] palafranchise commented on #153
Yup, switching to bgr8 works. Thanks for your help!

[2019-06-19 15:51] #153 closed

[2019-06-20 20:50] Hodapp87 opened #161 "No explanation of how to run"
Early on it says, "Webviz is a web-based application for playback and visualization of ROS bag files." and links you to a Webviz demo, however, I cannot find any explanation of how to actually serve this web application myself and get to it from my browser.

After a bit of messing around it looks like the proper way is running `npm run docs` and then browsing to http://localhost:8080/try (just htt

[2019-06-21 17:14] janpaul123 commented on #161
Yeah, documentation for development is super lacking at this point. I at least added a bit more info for how to run in #160. But if you want to just use the tool itself with your ROS bags (and don't care about development) you can just use https://webviz.io/try/ and drag in your bags.

[2019-06-23 10:09] rfsch opened #162 "ouster ros bags not working"
Hi

I cannot drop the ouster ros bag files into webviz
http://data.ouster.io/sample-data-2018-08-29/index.html

thanks

[2019-06-24 15:28] jtbandes commented on #162
Hi, thanks for your interest in webviz! It looks like these bags each only have two topics, is that right?

![image](https://user-images.githubusercontent.com/14237/60031660-0238a300-965a-11e9-88b4-5658ac54d75a.png)

My first guess would be that the topics are not correctly handled because they don't start with a `/`. (Webviz might be making some incorrect assumptions there, because the data we us

[2019-06-25 13:54] andre-nguyen commented on #162
The bags are not handled because the topics are non-standard. They are the raw dumps from the ouster lidar, you have to convert those to point clouds and save the point clouds as bags.

[2019-06-28 03:28] asimay commented on #161
hi, @janpaul123 , I did as you said, I dragged the bagfile into webviz, but why the camera image cannot show out? I checked the message type is right.

![image](https://user-images.githubusercontent.com/8703449/60315096-b8bcc080-9997-11e9-895c-a8bf579330d1.png)

[2019-06-28 03:38] asimay commented on #161
and we don't have internet on host-machine, it is setup on car, so how to deploy your tools on our server?

[2019-06-28 06:42] jtbandes commented on #161
Hi @asimay,

- For your camera image — the Image panel currently doesn't support the `mono8` encoding. The supported `sensor_msgs/Image` encodings are here (note that we also allow `sensor_msgs/CompressedImage`): https://github.com/cruise-automation/webviz/blob/9be1ffe5db4971a991a018ce6413be76a7a18261/packages/webviz-core/src/panels/ImageView/ImageCanvas.js#L88-L91 (And we're going to add the othe

[2019-07-05 02:06] felixvd opened #169 "Usability improvements"
As mentioned in the Discourse, this is an excellent effort. I noted some UX thoughts upon first usage which I just wanted to drop here. They are loose suggestions:

- Close the layout window upon clicking "Apply" if it was successful
- If the layout window is completely empty and "Apply" is clicked, do not display an error message but insert "{}" and close the window silently
- If the layout is em

[2019-07-06 12:53] yukkysaito commented on #129
I am looking forward to it. thank you

[2019-07-06 17:39] jtbandes commented on #169
Thank you, these are great suggestions. 😃 It's always interesting to hear about the experience of someone using an app for the first time; as the developer it's easy to miss the small usability issues. These ones should be pretty easy (and, if anyone is interested, we'd happily accept pull requests!)

Don't hesitate to share any further feedback you might have with more usage.

[2019-07-08 14:04] PymZoR opened #170 "Rosbridge integration"
Hi,

Thanks for the amazing work !
In order to use webviz as a real drop-in replacement of RViz, visualizing real-time data would be really useful. As mentioned in https://github.com/cruise-automation/webviz/issues/118, what are your plans on this feature ? How hard would it be to replace rosbag.js by realtime data provided by the rosbridge suite (https://github.com/RobotWebTools/rosbridge_suite)

[2019-07-08 19:02] jtbandes commented on #170
Hi Axel, thanks for your interest in this project!

At a high level, the main thing that's required to implement this is an implementation of the Player interface that communicates with rosbridge: https://github.com/cruise-automation/webviz/blob/9528e0a25c99a4c471563a8dc6aef0083db663f2/packages/webviz-core/src/types/players.js#L139-L155

As I mentioned we do have an internal implementation of this

[2019-07-09 08:13] PymZoR commented on #170
This might not be ideal for a "real time" utilisation, as some projects dynamically create publishers / subscribers. For this, maybe consider to a dynamic stream of datatypes ?

Putting aside this use case, listing the datatypes upfront requires to wait for all nodes to be launched in order to avoid race conditions. This could be done by a node responsible of sending all webviz-specific messages u

[2019-07-12 02:28] Zanbrachrissik opened #171 "ROS bag sample"
Hi, I'm a newer here. Could you please include that "NOISY_spin_2.bag" file into your project for us to have a quick start?

[2019-07-12 04:05] jtbandes commented on #171
Hi, the datasets we used for the demo page are available here. Hope this helps!
https://github.com/udacity/didi-competition
https://projects.csail.mit.edu/stata/downloads.php

[2019-07-12 04:05] #171 closed

[2019-07-12 07:37] fatboyd opened #172 "ERROR:Missing 1 theme converted to base_link : / lidar side front(frame:lidar side front)"
When I drag the package gnss_raw_0 into webviz, the page appears：Missing 1 theme converted to base_link : / lidar side front(frame:lidar side front)，How can I solve this problem?

[2019-07-12 16:27] jtbandes commented on #172
Can you share a link to the data you're using?

I recently noticed that during the tf2 migration, new behavior was added that will strip `/` from the beginning of frame ids: http://wiki.ros.org/tf2/Migration  We might need to make some changes in Webviz to do this automatically for data that has a mix of slashes and no slashes.

[2019-07-14 02:26] shufengh opened #173 "https://webviz.io/try/ seems broken"
The tryout website seems broken as it cannot load wasm-lz4 because the link resolves to webviz.io but the resource seems under https://github.com/cruise-automation/wasm-lz4.

Error chrome devtool console,

[code]
Chrome version
[code]

[2019-07-16 05:03] jtbandes commented on #172
This should be fixed now; as of #174, we strip leading slashes from TF frames ids.

[2019-07-16 05:03] #172 closed

[2019-07-16 05:06] jtbandes commented on #161
@asimay mono8 and mono16 encodings are supported now as of #174. Give it a try!

Going to close this issue now as we've updated the documentation a little bit and provided some more deployment info. Feel free to open a new issue if you have a specific question or problem with getting it to run.

[2019-07-16 05:06] #161 closed

[2019-07-20 12:21] Zanbrachrissik commented on #118
Hi, I wonder if you connected to webviz for real time visualising. I am currently working on it and I really appreciate it if you could give me some help.

[2019-07-21 06:31] janpaul123 commented on #173
I think that's just a warning, which we should eventually fix, but shouldn't prevent you from using the tool. https://webviz.io/try/?demo works fine for me (exact same browser version).

[2019-07-23 22:05] janpaul123 commented on #170
But when you're using a simulated clock it would make more sense for the receive time that shows up in the UI to correspond to simulated clock values (and subscribing to /clock over a websocket is a bit much). At least that's how we've implemented it in our internal version.

[2019-07-27 22:18] shufengh commented on #173
Hi @janpaul123, I tried to load a rosbag I downloaded from https://projects.csail.mit.edu/stata/downloads.php and specific file http://infinity.csail.mit.edu/data/2011/2011-01-24-06-18-27.bag. There's no error besides the warning so i wonder what could go wrong.

[2019-07-31 12:37] fkeidel opened #181 "Problem with installing/running on Ubuntu 18.04"
I have several problems with installing/running WebViz on Ubuntu 18.04
1) I had to install nodejs and npm. I followed the description on
https://wiki.ubuntuusers.de/Node.js/
When installing npm, I got the error, that dependencies are missing that cannot be resolved (nodejs-dev node-gyp libssl1.0-dev)
So I followed the hints on https://askubuntu.com/questions/1088662/npm-depends-node-gyp-0-10-9-but

[2019-08-04 17:34] jtbandes commented on #118
@Zanbrachrissik there's more discussion on this in #170.

[2019-08-05 19:26] MicahChambers opened #184 "Plugin Architecture For 3D Display"
It would be nice to have the ability to display any message in the 3D visualizer without producing markers ahead of time similar to Plotting doesn't require a special format.

Is there any work going on to do this? It is obviously more difficult to write a generic message to message conversion system than simply finding a field to plot. Maybe allowing users to dump a javascript function or class a

[2019-08-05 20:34] conrad opened #185 "onClick and onMouseMove triggered everywhere for certain objects"
I'm trying to create mouse event handlers for specific objects, but these handlers are being triggered everywhere for the first object, specifically in a list of Cubes. The code looks like this:

[code]

Both the `onClick` and `onMouseMove` handlers are triggered across the entire canvas with data for just the first cube passed to them. I tried adding the `getHitmapId` prop to help out, but it did

[2019-08-05 20:46] jtbandes commented on #185
Thanks for the report, we'll look into it soon. We have some work in progress in #177 that is changing the API for mouse events a little bit, so we can definitely fix in that branch, and maybe also backport a fix (since that will be a breaking change)

[2019-08-05 20:53] jtbandes commented on #185
In the meantime, you can work around this issue by using `id: i + 1`. The problem is that `id: 0` is reserved for the background ("nothing clicked"). After #177, this will change since ids will be generated by Worldview itself.

[2019-08-05 21:06] vidaaudrey commented on #184
Hey @MicahChambers, Webviz currently already have such structure called `Node`. You can define a Webviz Node like [this](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/pipeline/nodes.test.js#L105):
[code]
and register it in [loadWebviz](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/loadWebviz.js#L16), e.g
[code]
All panels will h

[2019-08-05 21:12] MicahChambers commented on #184
Thanks Audey! Thats perfect!

[2019-08-05 21:12] #184 closed

[2019-08-05 21:39] conrad commented on #185
Ok. Great. That change to have an id prop that's non-zero fixed this :)

[2019-08-05 21:39] #185 closed

[2019-08-06 05:30] vidaaudrey commented on #181
Hey @fkeidel, could you try running `npm run build` before `npm run docs`? Basically the code is referring some internal packages. We forgot to put this step in the README, and it'll be updated in #177.  Let me know if you still have issue running the app.

[2019-08-06 05:38] vidaaudrey commented on #173
@shufengh  I just tried and the bag is loading for me as well. There might be warnings in the 3D panel about missing transforms which you can get around by clicking the `follow` icon at the top right corner.

![image](https://user-images.githubusercontent.com/10999093/62513585-71fd8a00-b7d1-11e9-88f1-a5b7f9a76e95.png)

[2019-08-06 05:40] vidaaudrey commented on #138
Closing this issue as OccupancyGrids is now supported: https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/ThreeDimensionalViz/commands/OccupancyGrids.js

[2019-08-06 05:40] #138 closed

[2019-08-06 21:26] lizamurdoch opened #187 "How to visualize PointCloud2 data in Worldview (not just webviz)"
Hi, I know Webviz supports visualization of `PointCloud2` data in the online tool, but I would really like to be able to view that data in Worldview as well. Is there a way to make the non-default types (like OccupancyGrids and PointClouds) usable in Worldview specifically?

[2019-08-07 18:20] lizamurdoch commented on #187
Thanks!

[2019-08-07 23:39] #187 closed

[2019-08-11 22:05] shufengh commented on #173
Hi @vidaaudrey you are right! Think the default view is to follow velodyne which the bag does not seem to have. Thanks and resolving.

[2019-08-11 22:05] #173 closed

[2019-08-16 02:17] david-gwa opened #191 "where to configure fix ip rather than localhost?"
hey, webviz team,

        not familiar with web app, a simple wonder, where to setup a fixed IP?

        Thanks

[2019-08-16 02:23] jtbandes commented on #191
What commands are you currently using / what exactly are you trying to do?

Maybe you're interested in configuring some host settings when using the webpack dev server: https://github.com/webpack/webpack-dev-server/issues/147#issuecomment-89895948

Or are you more interested in packaging/deploying the app somewhere, in which case you might find this discussion useful: https://github.com/cruise-aut

[2019-08-16 05:48] david-gwa commented on #191
thanks, really first time to run webpack:
after  npm run build
I can do:
webpack-dev-server.js --host 10.20.1xx.1xx --port 8xxx

and when access in browser, it 's the host ip now.

[2019-08-16 19:08] conrad opened #192 "Getting click location with good performance"
Hello, I'm trying to build a(n) UI with point-and-click navigation, and in order to do so right now I'm trying to draw many invisible polygons across the floor, but the performance drop is making it unusable :(

Here's what I'm writing:
[code]

[2019-08-16 19:11] conrad commented on #192
What I'd like to write looks like this:
[code]

In this, the click event would have to get the coordinates of where on the object the click hit. Is there a way to do this?

[2019-08-18 18:03] vidaaudrey commented on #192
Hey @conrad  the `onClick` event does give you a `ray` object which contains the raycasting information including dir (direction), origin, and clicked point (all in Vec3 format). Try it out and see if satisfies your requirement.

Regarding on the performance, there is some extra computation in `FilledPolygons` to get the points. You could try use `Triangles` directly. https://github.com/cruise-aut

[2019-08-19 20:36] pvnkot opened #195 "Reg making webviz available on npm"
Hello guys,
I'd like to know if you have ideas of making webviz available on npm too, like you have done with Worldview.

[2019-08-19 22:30] janpaul123 commented on #195
Webviz is currently a product that you can use at https://webviz.io/try, not a library with a public API that you can call from your own application. We might do that at some point, but it's quite a bit of work to develop a stable public API, so probably not any time soon.

[2019-08-19 22:30] #195 closed

[2019-08-19 23:44] spjy opened #197 "Issues with decoding .glb files"
I am attempting to load .glb files other than the Duck and CesiumMan that are provided in the [GLTFScene example](https://webviz.io/worldview/#/docs/commands/gltfscene). I have tried to import my own models as well as ones provided in the example model repository [here](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0) such as `Box.glb` and `RiggedSimple.glb`, but I always get th

[2019-08-22 00:00] jtbandes commented on #197
Thanks for the report. This looks like a regression caused by #198; we'll look into it soon. cc @davidswinegar

[2019-08-22 12:31] masakisonic opened #204 "A problem to watch webviz demo, player is always initializing"
Hi, I have a problem on watching webviz demo from [https://webviz.io/try/?demo](https://webviz.io/try/?demo),
**The player always waits for initializing**, so I can't watch the demo.

I use Chrome on Windows 7 and its version

I also try my phone & ubuntu 16.04, but the same result for me.

Does anyone know if I lose some plugins or other things on watching demo?
Thanks.

![2019-08-22_webviz_demo]

[2019-08-22 17:05] janpaul123 commented on #204
Oh you're right, thanks for reporting, we'll look into it!

[2019-08-22 17:12] spjy opened #205 "Wrapping an element around WorldView component causes infinite increase in height"
Whenever I wrap an HTML element around the WorldView component, it infinitely increases its height. I am forced to set a fixed height and width as a result.

See https://codesandbox.io/s/relaxed-sun-tqxk3.

[2019-08-22 17:17] vidaaudrey commented on #205
Hi @spjy  that's a known issue. For now, you could try applying `height: "100%" ` to the Worldview wrapper div to make sure by default Worldview fills up the whole area.
https://codesandbox.io/s/quizzical-kalam-ducme

[2019-08-22 17:36] troygibb commented on #204
It should be fixed now!!! Sorry for the inconvenience.

[2019-08-22 17:36] #204 closed

[2019-08-22 17:39] spjy commented on #205
Right, that is what I am doing now; however that is a band aid solution and is also impractical in my case as I have a wrapper component that requires block level elements.

[2019-08-22 20:05] jtbandes commented on #205
Can you describe more about how you expect the Worldview component should be sized in your case? Is something constraining its size from the parent down, or how do you expect it to choose its size?

(FYI the issue is a side effect of how we're using [react-container-dimensions](https://www.npmjs.com/package/react-container-dimensions) inside Worldview)

[2019-08-24 01:00] spjy commented on #205
I expect it to be sized based on its immediate parent container.

[2019-08-24 02:11] PatrickQianKun opened #209 "visualize data realtime"
Hi,
thanks for your work!

For real-time usage, I plan to gather data from radar, lidar or camera through CAN, Ether, etc.. use backend to synchronize and pack these data in ROS like messages, then send them to webviz through websocket directly to each message consumers.

Any suggestions about this. I really appreciate it if you guys could give me some help.

[2019-08-24 08:35] jtbandes commented on #209
Thanks for your interest :) I would recommend you read #118 and #170, we have already discussed live connections there.

[2019-08-26 09:37] hakuturu583 opened #210 "Failed to build and test"
I want to build webviz.
I install npm and nodejs and type

[code]

It was success, but I typed

[code]

All of them are failed.

[2019-08-26 09:37] hakuturu583 commented on #210
![image](https://user-images.githubusercontent.com/10348912/63681353-94af1b80-c830-11e9-8522-7715f5765d28.png)

[2019-09-09 05:21] nakano16180 opened #224 "How to use NodePlayground Panels?"
Hi, I want to use NodePlayground panel.
Is there any documentation? please tell me how to use this panel.

[2019-09-09 17:18] janpaul123 commented on #224
It hasn't been fully developed yet. Stay tuned!!

[2019-09-09 21:52] artvichi opened #225 "How to set backgroundImage for scene?"
Hi! Is it possible to add a .jpeg image to a scene? (I saw you have added road and other images in your blog) .
Also, is there a way to embed OccupancyGrid ?

[2019-09-09 23:33] jtbandes commented on #225
Are you interested in a fixed background image, or an image that appears at a certain position in space (and moves with the camera)? For our map, we created a new Worldview command that loads and renders the images.

Are you using Webviz or are you creating your own React app with Worldview?

[2019-09-10 00:34] artvichi commented on #225
@jtbandes , thanks for fast response!
 Worldview `regl-worldview` repo is used. Tried to do so with `Overlay` and `GTLFScene` but I hoped you have some simplest way to do that...
I need set a floor picture of the place where my robot drives. Image that may appear in different locations would be better. Ideally would be a possibility to add few layers on the map (but it's advanced feature).

[2019-09-10 01:48] jtbandes commented on #225
We don't have any built-in image renderer, but you can make one yourself with a custom command. Here's an example to get you started: https://codesandbox.io/s/nervous-elbakyan-0215j

[2019-09-10 13:55] artvichi commented on #225
@jtbandes , thanks a lot!

[2019-09-10 13:55] #225 closed

[2019-09-10 17:52] conrad opened #226 "MouseEvent arguments mix-up"
Hello, I've just upgraded to v0.2.2, and two of the fields seem to have been swapped unintentionally. Previously, the arguments were `event, { ray, object(s) }`.

Now, I'm seeing that the second argument is still an object with the field ray, but this field then points to a mouse event object. Meanwhile, the first argument sent turns out to be a ray. To explain a little more this what the second a

[2019-09-10 17:55] conrad commented on #226
Or I'll dig around and make a PR if I find the issue.

[2019-09-10 18:02] davidswinegar commented on #226
Thanks for the bug report! I'll take a look at this today.

[2019-09-10 20:24] jtbandes commented on #197
Tested out your CodeSandbox again and it looks like it's working now, after David's fix:

![image](https://user-images.githubusercontent.com/14237/64647684-4f612100-d3ce-11e9-9378-4cd7f094b73e.png)

[2019-09-10 20:24] #197 closed

[2019-09-10 20:24] #191 closed

[2019-09-10 20:25] jtbandes commented on #210
Let us know if you have any more problems!

[2019-09-10 20:25] #210 closed

[2019-09-11 17:18] #226 closed

[2019-09-11 23:51] vidaaudrey commented on #169
@felixvd Pls see the updates below for the UX improvements you suggested:

Done.

Done.

We opted out since the user might actually want to have empty layout/globalState config. However, if you open webviz in incognito mode or cleared the localStorage, it'll load with the default layout.

Let us know if you have more feedback / ideas!

[2019-09-12 23:12] spjy opened #228 "Non-Identity Quanternion Values Cause Stretching"
When I enter a value other than the identity quaternion, the model deforms and stretches as demonstrated below with the duck model:

https://codesandbox.io/embed/agitated-star-ruxr4?fontsize=14

[2019-09-12 23:53] #228 closed, assigned to nobody

[2019-09-20 06:11] gismo07 opened #230 "Cannot access webiz through browser and tests are failing"
I wanted to test webviz locally, therefore I pulled the latest version and tried to open the web app.

What I did so far:
[code]

If now the tests are performed, we get the following error messages:
[code]

I'll think the proper way of running the web app is to execute `npm run docs` or?  However, the output of the browser at either localhost:8080 or localhost:8080/try is empty.

[2019-09-23 22:30] jtbandes commented on #230
Hi, can you verify which version of node you're using? We usually use v10 — and yes, `npm run docs` is the right way to go.

[2019-09-26 12:54] surajhpatil commented on #230
Currently it's failing for me (locally as well as your try demo page) with following issues with fonts?

![Selection_023](https://user-images.githubusercontent.com/38913133/65689333-28ad1680-e06d-11e9-968f-fd68aecca2fe.png)

After this nothing happens and it just stops/crash.
Additional console log

![Selection_024](https://user-images.githubusercontent.com/38913133/65689508-85103600-e06d-11e9-911

[2019-10-02 14:17] stefan-enway opened #245 "circle-ci docker image"
Hi there,i just played around with a fork (and merged all the dependabot PRs on my clone) i noticed you have a docker image to do ci stuff cruise/webviz-ci:0.0.8 is there secret sauce in it or would it be possible to make the Dockerfile for this available?

[2019-10-02 20:04] janpaul123 commented on #245
That's just this one: https://github.com/cruise-automation/webviz/blob/master/Dockerfile and it's publicly available in dockerhub here: https://hub.docker.com/r/cruise/webviz-ci/tags 😄

[2019-10-02 20:04] #245 closed

[2019-10-02 20:11] stefan-enway commented on #245
huh. strange that circle-ci did not pull that, thanks!

[2019-10-04 13:08] NicolasBernard456 opened #247 "Webviz on remote bag"
Hello,

Thanks for your amazing work!
I was wondering if i could get some more infos on how to use webviz on remote bags? I saw that it was possible to do it with a cloud provider like S3 or GCS [https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/dataProviders/BrowserHttpReader.js](url)
I have a custom NAS where my bags are stored and I am using [Marv](https://ternari

[2019-10-04 16:36] janpaul123 commented on #247
Hi! I don't know much about MARV. Is it able to provide URLs that link to bags, e.g. like https://open-source-webviz-ui.s3.amazonaws.com/demo.bag? If so, then it might just be a matter of configuring their webserver to support CORS and HTTP Range Requests.

I'm trying their demo now, but can't seem to download bag files. E.g. if I click on the bag file link in https://ternaris.com/marv-robotics/de

[2019-10-04 16:38] janpaul123 commented on #247
Oh I forgot to answer this question. The browser does not have direct access to the file system (for security reasons), so we can't access arbitrary files through a URL. They have to be explicitly selected by the user, either by drag and drop or through a file selection dialog (which is very similar to drag and drop so we didn't bother implement that).

[2019-10-04 17:07] stefan-enway commented on #247
you could try to put https://min.io/ in front of your NAS as it acts as a S3 compatible storage layer.

[2019-10-04 22:53] dfeldstarsky commented on #170
@jtbandes That implementation would be incredibly useful for me and my company. We currently have a data lake that we can play into our simulators (using new rosbags as an intermediary), but also visualization tools that operate sans-rosbags. If you opened up the client code, we could definitely build upon it with our own data store. As it sits now, if we want folks to be able to use web-viz we'd

[2019-10-05 00:05] janpaul123 commented on #170
@dfeldstarsky for your use case, perhaps it would help to use our bag streaming feature plus the seek-to parameter? Like https://webviz.io/try/?remote-bag-url=https://open-source-webviz-ui.s3.amazonaws.com/demo.bag&seek-to=1490150281000 Not sure if that will be sufficient for your use case though?

[2019-10-05 00:31] dfeldstarsky commented on #170
Yup that would work for the case where we're streaming out of historic bags - however, a growing chunk of our data never makes it to bags in the first place. We directly write it down to our data store, sans ros.

Internally at cruise are you always serving bags to the webviz frontend? Or are there implementations similar to what we're trying to do at Starsky?

I'll have to dig through the bag str

[2019-10-05 01:10] janpaul123 commented on #170
Internally we typically don't stream from bags either. :) We use Avro files, one for each topic, and then combine them into only the topics needed. Much faster than streaming entire bag files. What do you use exactly?

[2019-10-07 06:14] stefan-enway opened #248 "docker images for webviz"
I tried building via the Dockerfile, is there a prebuilt image somwhere?
what options would i use to launch it, if I had build it?

[2019-10-07 07:03] NicolasBernard456 commented on #247
Thank for your answers!
@janpaul123: MARV can provide URLs that link to bag, i've tried it locally it works fine :) I'm not sure why the demo is not working though... I'll try to configure the webserver as you said!

@stefan-enway: Thanks, i'll look into it if I struggle too much setting up the webserver :)

[2019-10-07 09:10] NicolasBernard456 commented on #247
I managed to use flask_cors as MARV is implemented in python. I think I got the correct configuration, here is the response header using Postman :
![image](https://user-images.githubusercontent.com/18558170/66298916-d2549900-e8f2-11e9-868a-743ee3235f10.png)

But I still have this error on my console :
![image](https://user-images.githubusercontent.com/18558170/66299009-fadc9300-e8f2-11e9-9a3b-4148

[2019-10-07 16:34] dfeldstarsky commented on #170
Our datastore is very similar, subbing in parquet instead of avro. We use Presto (Athena as a managed service  AWS) to query. We could easily stream out the query result, as it's saved as a .csv w/ the Presto architecture.

Is there a plugin or entrypoint somewhere within the Webviz world we could point to that rather than a bagfile?

[2019-10-07 18:57] janpaul123 commented on #248
We currently only use the Dockerfile in CI to run our tests; see [here](https://github.com/cruise-automation/webviz/blob/522cb4400c5c42220e07b3f46854087da75a24b5/.circleci/config.yml#L28). It's available on dockerhub under cruise/webviz-ci. We currently don't use it for our application, but instead we generate a static hosted website using [`npm run docs-deploy`](https://github.com/cruise-automati

[2019-10-07 18:57] #248 closed

[2019-10-07 18:59] janpaul123 commented on #247
Looks like CORS headers are not set properly for OPTIONS requests ([CORS preflight](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request)), try seeing what you get in postman if you make an OPTIONS request.

[2019-10-07 19:05] janpaul123 commented on #170
Sadly no, our Avro integration is quite complicated and tied to our implementation so I can't point you to something you can easily drop in. However, we're thinking about defining a sort of "streaming bag format" which anyone could potentially write a webserver for. I'll let you know if we end up doing something like that.

[2019-10-07 19:38] dfeldstarsky commented on #170
Ahh understood. That would be great if you do :).

We're still very new to the whole webviz & worldview ecosystem, so we'll keep exploring and find a way to make it work.

[2019-10-07 19:50] stefan-enway commented on #248
it does. I am late to the whole JS/node/react thing and was expecting a port or something. Thanks!

[2019-10-07 21:38] janpaul123 commented on #170
Cool, let us know what you come up with!

[2019-10-07 21:39] janpaul123 commented on #248
Yeah, it would be cool for us to publish all of this under a proper Docker image some day!

[2019-10-08 06:43] stefan-enway commented on #248
We will probably use Webviz so maybe i can provide some PRs in a couple of weeks. How do you handle all this dependacy-hell-PRs ? I tried to "just" merge them but that does only work in the right order and sometimes just dont work if newer version change their API.

[2019-10-08 08:22] stefan-enway commented on #247
@NicolasBernard456
``docker run -p 9000:9000 -v /mnt/data:/data minio/minio server /data``
plus another for nginx with TLS proxy & all the CORS/proxy tuning.
I even automated the letencrypt part for "offical" certs ;)

[2019-10-08 08:43] NicolasBernard456 commented on #247
This is what I get :
![image](https://user-images.githubusercontent.com/18558170/66379189-43f51b80-e9b5-11e9-9c82-f4d0fef59b2e.png)

[2019-10-08 09:23] NicolasBernard456 commented on #247
@stefan-enway Got this error when using min.io
![image](https://user-images.githubusercontent.com/18558170/66383812-f3ce8700-e9bd-11e9-8721-e5b6bd786e96.png)
on console :
![image](https://user-images.githubusercontent.com/18558170/66383837-021ca300-e9be-11e9-87ef-2979c5610adc.png)

[2019-10-08 09:55] stefan-enway commented on #247
please run  ``curl -H "Access-Control-Request-Method: GET" -H "Origin: http://localhost" --head http://www.google.com``
and please just copy&paste the output in text (maybe with `` enclosing)

[2019-10-08 09:58] stefan-enway commented on #247
and get an nginx somewhere and look at https://enable-cors.org/server_nginx.html. beware that * is a wildcard fore everywhere, but if you use it on a local VM/network you should be fine.

[2019-10-09 17:16] janpaul123 commented on #248
Ah yeah we should probably actually pay attention to Dependabot. Don't worry about it for now!

[2019-10-09 18:06] janpaul123 commented on #247
Right so if in that case `Access-Control-Allow-Origin` and `Access-Control-Expose-Headers` are missing, then that is the issue!

[2019-10-18 08:15] NicolasBernard456 commented on #247
Thanks for your help, I added those headers and it's working now!

[2019-10-18 08:15] #247 closed

[2019-10-18 14:09] stefan-enway opened #253 "node js fun"
hi, we are tinkering with the webviz to run and build in docker, did you stumble about this error?

[code]

[2019-10-18 17:16] janpaul123 commented on #247
@NicolasBernard456 any chance you could share your final solution? Would be cool to contribute this back to MARV, too! 😄

[2019-10-18 17:50] jtbandes commented on #253
I've never seen this error before; `unexpected end of file` sounds like it might be a download error, are you sure the network connection is working properly?

[2019-10-18 22:27] jtbandes commented on #230
That's interesting; which version of Chrome are you using and on what platform?

[2019-10-19 18:04] stefan-enway commented on #253
yes, it has because it downloaded a bunch of other libs. I think my colleague did some node.js version upgrades. As you recommended, we should not tinker with that (the good old node.js/rubygems/python/{yourscriptinglanguagehere} dependency hell), so we will probably roll back that one. But we will need a Github Action/Jenkins job (don't laugh) that builds webviz from the scratch. Its on my to do

[2019-10-19 18:11] stefan-enway commented on #247
oh yeah. in nginx config please ;)

[2019-10-24 11:18] david-gwa opened #254 "split rosbag during webviz running"
hey, cruise team,

thanks for this great tool, wonder is there an easy way to split the inputted ros-bag at some certain timestep(maybe a start time and an end time during playing the rosbag in webviz), where maybe the testers are very interested at.

     david

[2019-10-28 07:06] kissofwind opened #256 "Tagging feature in webviz"
Hi,  Thanks for the amazing work !
I am new to webviz, but I can feel it is a very promising project. It makes exploring rosbag data much easier than using the tools in ros. But what I feel is just viewing data in rosbags is the first step, after viewing the data, users may want to add comments or tags to this bag file or to part of the data in the bag file.  So I wander if you plan to add some la

[2019-10-28 08:40] jxjshaw commented on #256
Love the idea. You also mention an idea around tags - curious how this might play out in your current workflow involving rosbags? For example do you work with bags of longer duration, so it’s easy to loose track of notable occurrences within the timeline?

[2019-10-28 09:38] kissofwind commented on #256
what I am thinking of is if webviz can support tagging, for example if there is a cut-in scenario some where in the bag file, then I can create tag info like type of scenario, start time of scenario, end time of scenario, speed of ego vehicle etc. to a tag file or I can even save these tag info along with the path of bag file into a database system. then  i can later search the cut-in scenarios in

[2019-10-28 20:35] jxjshaw commented on #256
Agreed. How do you currently manage these rosbag files? Wondering if there are any existing solutions out there for easy integration

[2019-10-29 00:07] kissofwind commented on #256
i am using an open source [https://github.com/swri-robotics/bag-database](https://github.com/swri-robotics/bag-database) tool to manage the raw rosbag files, but I am also lacking the tagging tool. But I see the potential in webviz and i hope webviz can work as a tagging tool.

[2019-10-29 17:40] conrad opened #260 "Worldview screen goes blank when switching between controlled & uncontrolled camera views"
I have an application where I'm trying to switch between having the user control the camera position with the mouse and having the camera automatically follow vehicles in the visualization. However, when I switch out using the property cameraState & defaultCameraState, the screen goes blank. Each of these renders on its own, but when I try to change between the two--going either way from one to th

[2019-10-29 23:18] vidaaudrey commented on #260
Hi @conrad, when you are using Worldview as controlled component, you'll need to supply a `onCameraStateChange` handler.  Could you provide more details on the error, e.g. screenshot or codesandbox to reproduce the issue. It's good to refer some examples here https://webviz.io/worldview/#/docs/api/camera

[2019-10-29 23:19] vidaaudrey commented on #169
Will close this issue now. Feel free to open another one when you have other suggestions

[2019-10-29 23:19] #169 closed

[2019-10-30 18:56] zlg9folira opened #262 "GPS/IMU Topics unavailable/not shown"
Hi,
I am trying to visualize `/points_raw` as well GPS/IMU topics such as `/imu`, `/fix` or `/gps` in different panels. However, I am able to see and select only `/points_raw` from the topics recorded and exist in bag file.

As all the topics are published under standard format/name, can you suggest any workaround ?

[2019-11-01 23:41] conrad commented on #260
Thank you. Adding that property (currently, just with a no-op function) has solved this.

[2019-11-01 23:41] #260 closed

[2019-11-05 10:47] #253 closed

[2019-11-05 13:00] jtbandes commented on #253
Did you need any more help on this or did you get it to work?

[2019-11-06 22:31] janpaul123 commented on #254
Currently this is not possible from the Webviz UI, but you can use [`rosbag filter` for this](https://answers.ros.org/question/99711/how-to-split-a-recorded-rosbag-file/?answer=234004#post-id-234004). The easiest way right now to get those timestamps is to open the Raw Messages panel on a frequent topic and getting the seconds/nanoseconds from there.

[2019-11-06 22:41] janpaul123 commented on #256
This is a great idea and internally also an often requested feature. It sounds like you mostly want to put interesting information along the timeline, is that correct? E.g.:
- 10 seconds: "interesting scenario starts here #cutin"
- 13 seconds: "note that the speed of the vehicle that cuts in is 20kph"
- 18 seconds: "scenario ends"

It would be cool to allow putting those "tags" or "labels" directl

[2019-11-06 22:45] janpaul123 commented on #262
What are the datatypes of those topics? We currently only support a [handful of datatypes in the 3d panel](https://github.com/cruise-automation/webviz/blob/d01b28e51ed3c39e07c8675825ac536165c9782d/packages/webviz-core/src/panels/ThreeDimensionalViz/SceneBuilder/index.js#L391). You might need a ROS node to convert your data to a supported format, either on your robot or as a post-processing step.

[2019-11-11 15:47] stefan-enway opened #267 "automatic github action to build webviz"
you need to be in github action beta (will be public November 13th; to days)
[code]
Dockerfile
[code]

then run like ` docker run -p 8080:8080  webviz:latest npm run docs` and you will have webviz running at port 8080 of the docker host.
beware you need to patch webpack.config.js to be running in docker:
[code]

i am working on an nginx setup for proper TLS/letzsencrypt/443 setup that could be use

[2019-11-11 15:47] stefan-enway commented on #267
will make a nice PR later, just wanted to let you know that it works

[2019-11-12 03:18] kissofwind commented on #256
yes exactly! this is the key feature we want to have because the bag file could be like GBs but only like seconds or minutes of data is useful. and because bag files are unstructured data, Supporting tagging can make it possible to build a sql database system to manage the tags and the bag files better.
In my understanding as cruse-automation is doing a world class ads development, you must have a

[2019-11-12 22:19] jtbandes commented on #262
To clarify, we expect _all_ topics in your bag to be viewable with the Raw Messages panel, at least. Are you able to see them there?

[2019-11-12 22:25] zlg9folira commented on #262
@jtbandes  @janpaul123  I finally figured that out. What I needed was to explore my topics using `plot` panels. I was initially on a wrong panel and that was the reason I was not able to see my topics. Thanks for the response.

[2019-11-12 22:25] #262 closed

[2019-11-12 22:29] jtbandes commented on #262
Glad it works for you, let us know if you have any further questions!

[2019-11-20 20:17] colinterface opened #270 "feature request: `cameraMatrices` prop in `<Worldview />` component"
Awesome library, thanks for all you do! 😺

I'd like to supply my own camera matrices to `<Worldview />` instead of the `cameraState` object.

### the idea
[code]

### data model
[code]

### new behavior

`<Worldview />` component checks for valid `cameraMatrices` prop on mount and update, sets them in `cameraStore` which uses them directly with priority over `cameraState`

### benefits

adds suppo

[2019-11-21 06:58] shaeqahmed opened #271 "Colors issue on State transitions panel"
When the value for a topic is -1, seems that the color is a greyed out very hard to see color. Also for some topics say the message goes from 'AUTONOMY' to 'NAVIGATE' for a single message, the color remains the same. Would be nice if we could improve the the colors to make sure it is always good enough contrast and also to make sure that the color changes whenever the message value is different.

[2019-11-21 19:13] jtbandes commented on #270
This definitely seems like a good feature to add. Let's think about the API a bit more — some of the properties in cameraState would be replaced by the view matrix and some by the projection matrix, right?

- `view` [comes from](https://github.com/cruise-automation/webviz/blob/126196097436ae2092c6f537f9854db4e5392dbe/packages/regl-worldview/src/camera/cameraStateSelectors.js#L160): target, targetO

[2019-11-21 19:14] jtbandes commented on #271
Can you post screenshots of the problems you're seeing, especially for the second issue you mentioned where it doesn't change colors when there's a new value in the message?

[2019-11-21 20:29] shaeqahmed commented on #271
pic for second issue:
![image](https://user-images.githubusercontent.com/13088492/69374257-8b302680-0c5a-11ea-900d-2ecd90971c18.png)

[2019-11-21 21:02] janpaul123 commented on #271
This should be an easy fix. I'll look into it.

[2019-11-21 21:49] shaeqahmed commented on #271
Thanks! Would be nice to adjust the color scheme as well to make sure it is easy to see for everyone including those with disabilities.

See: https://webaim.org/resources/contrastchecker/

[2019-11-21 22:13] janpaul123 commented on #271
We did use a colour scheme that should be pretty distinctive for vision disabilities, see https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/util/plotColors.js#L14 but of course we're always open to improvements!

[2019-11-21 22:20] shaeqahmed commented on #271
Great to hear. Looks like it is a bug then in the code that determines color for value, as when the value is -1 it is very hard to see:

![image](https://user-images.githubusercontent.com/13088492/69381601-f59c9300-0c69-11ea-90c9-2e38bc0bc6a4.png)

[2019-11-21 22:25] janpaul123 commented on #271
Yeah it's a bug. I have a fix incoming! 😄

[2019-11-22 17:32] shaeqahmed commented on #271
Pulled in latest changes, and the issue with the transparent color for -1 is fixed but the color still stays same when the value changes, just as shown in the first picture.

[2019-11-22 17:49] janpaul123 commented on #271
We cycle through a fixed number of colours so you can get unlucky with which value is assigned to which colour.

[2019-11-22 18:15] shaeqahmed commented on #271
I think the most important part even if colors are to be reused, is to ensure that no two consecutive state messages, within the same topic, will have the same color unless they are of the same value. That shouldn't be too difficult, would be a good enough solution.

[2019-11-22 18:21] janpaul123 commented on #271
Right now we went for the constraint that each value will always have the same colour, so you can easily recognise them. This works nicely if you don't have too many values. Those two objectives are fundamentally incompatible though. I'm not sure which one I'd pick honestly, they both seem like reasonable approaches. Maybe we should just add a bunch more colours to pick from?

[2019-11-22 18:38] shaeqahmed commented on #271
Yes I think expanding the color space would mitigate the problem. But for a proper fix, then, i'm thinking  a approach similar to this would work https://medium.com/apollo-data-solutions-blog/mapping-words-to-colors-cfa23a65d8c4, where the word space has a mapping to the rgb space. I don't know how this works with the color scheme you have at Cruise though.

[2019-11-22 18:55] janpaul123 commented on #271
Yeah. Another downside is visibility for colourblind folks. But anyway that sounds like a great approach for anything beyond our current colourscheme for the initial few values. Happy to take a PR on that if you want to give it a shot! 😄

[2019-11-22 19:30] jtbandes commented on #271
Is there a publicly available bag file that demonstrates the issue you're running into? It sounds/looks from your screenshot like a real problem, not just similar colors, but it would help to have some example data to reproduce it.

Maybe you could create a PR that adds a [StateTransitions story](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/StateTransitio

[2019-11-25 19:29] colinterface commented on #270
Thanks for the feedback! 😸

Just spent some time poking at it this morning and I think I have a plan for moving forward.

I totally see your concern. I think it's a matter of documentation though. There are 3 groups of users who all want a simple explanation (and ideally an example) of the props they need to use.

1. Someone who just wants to use worldview's internal camera state. They'll want to

[2019-11-25 19:30] artvichi opened #274 "How to disable camera movement?"
Hello!
We built some amazing stuff with your library!

There is one issue with controlled camera state: we need to be able turn it on and off conditionally. It looks like even if we use `onCameraStateChange` and try to skip some camera updates - it moves for half a second then go back to previous state `cameraState` that we set before. It there a way to avoid that half a second movement?

There is

[2019-11-25 19:36] jtbandes commented on #270
yeah, agreed if we have both docs and warnings, this should be fine.

we'll have to see about this organization, since if the matrices are a separate prop from cameraState it doesn't make as much sense to group them with the cameraState stories...but they are camera-related, so maybe it's fine. You might find some opportunities to clean up the organization while you're there.

Looking forward to y

[2019-11-25 20:28] vidaaudrey commented on #274
Hi @artvichi  thank you for filing the issue. The quick way to fix it is to remount Worldview whenever the camaraState changes between controlled and uncontrolled:
[code]
Codesandbox [link](https://codesandbox.io/s/infallible-driscoll-cc0ye).

Currently we are not expecting people to switch between controlled and uncontrolled very often. So the camera [set up](https://github.com/cruise-automation/

[2019-11-25 23:06] artvichi commented on #274
@vidaaudrey thanks for quick response! We have some redux storage which is filled during time (up to one minute) with ROS data. Then we want to allow relocalize a robot with drag&drop + rotate, so user can interact with robot component with mouse multiple times drag&drop + rotation. Looks like it may work for us, will check and let you know!

[2019-11-26 01:37] conrad opened #275 "FilledPolygons click events not firing when another FilledPolygons element is behind it."
Hi,
I've been using some onClick events on a FilledPolygons element for getting the location of clicks on an (invisible) layer just above the floor, which is made of a grid of Lines elements.

When I add another FilledPolygons element that is below (farther away), the onClick events stop triggering. If you click on the floor between the grid lines (with the other Filled Polygons layer below), ther

[2019-11-26 02:52] vidaaudrey commented on #275
Hi @conrad, I just tried your example, seems working for me.
[code]
![after](https://user-images.githubusercontent.com/10999093/69595374-3707a800-0fb4-11ea-982a-f8cd28291c69.gif)

Maybe I'm not understanding your problem. If you are still seeing the issue, could you explain a bit more. I saw you didn't have `pose` for the red polygon, would be good to add it to prevent unexpected behaviors.

[2019-11-26 09:51] surajhpatil commented on #230
Sorry for the late response. I am using chrome `Version 77.0.3865.90 (Official Build) (64-bit)`.
I figured this out that one of the plugin installed in my browser was causing this issue somehow (fonts related to that plugin).
Currently I have bypassed the waitForFont method so that I can at-least load the webviz.

[2019-11-26 20:54] jtbandes commented on #230
This ticket is pretty old and I'm not sure anything more is needed from us here, so I'm going to close it — feel free to file a new ticket with more information if you still need help.

[2019-11-26 20:54] #230 closed

[2019-12-03 21:24] iwanders opened #281 "Regression in bag playback"
Hi, thanks for open sourcing webviz!

We've noticed a regression in bag playback. For certain bags with gaps in them the playback halts at the start of the gap instead of continuing playback through them:
![playback_stuck_cache_gap](https://user-images.githubusercontent.com/1732289/70089623-7e122080-15e6-11ea-8578-d12833ccfabf.png)

A minimal bag that reproduces the issue on https://webviz.io/try/

[2019-12-03 22:32] janpaul123 commented on #281
Thanks for reporting this and the excellent test case. I'll release a fix shortly.

[2019-12-03 22:44] janpaul123 commented on #281
(If you're interested, this line was the culprit: https://github.com/cruise-automation/webviz/pull/283/files#diff-ff549a830b60d70e1ed51ce42222356fL85-R85)

[2019-12-04 01:22] #281 closed

[2019-12-04 13:33] iwanders commented on #281
Ah yes, I see, thanks for linking that.

Really appreciate the quick response and resolution @janpaul123 :+1:  . Confirmed the issue is resolved in the latest `master`.

[2019-12-11 09:30] MarcoRuzzon commented on #170
Hi,
is there any update?  @PymZoR did you manage to implement what you proposed on the 9th of July?

[2019-12-12 12:14] PymZoR commented on #170
@MarcoRuzzon Sadly no, we do not have resources allocated to this at the moment

[2019-12-13 08:08] conrad opened #288 "Add capability to pass FilledPolygons an array of points arrays for many polygons?"
We're enjoying using this library a lot and hope to share how it's helping us run a fleet of robots. So, thank you :)

Something that could help our performance in the browser would be to allow setting an array of polygon points arrays for the `points` property in `FilledPolygons`. Our systems send us larger arrays of points for many polygons all of the same type or class, so it would be really he

[2019-12-16 19:08] vidaaudrey commented on #288
Hi @conrad, the `instanced` FilledPolygons is a nice feature to have. Should be straightforward to change the logic [here](https://github.com/cruise-automation/webviz/blob/master/packages/regl-worldview/src/commands/FilledPolygons.js#L51-L64) to accept array of points and create triangles accordingly. We might not have the capacity to get to this until early January.  Feel free to send a PR if you

[2019-12-18 22:33] shaeqahmed opened #293 "Colors switched for rgb pointcloud"
Pointcloud viewer seems to be interpeting single 24bit value rgb channel/field as bgr.

Sample rosbag here: https://vision.in.tum.de/data/datasets/rgbd-dataset/download#freiburg3_cabinet

Relevant code block:
https://github.com/cruise-automation/webviz/blob/2e7db3aafffec39b541728668c97ce7d83eee007/packages/webviz-core/src/panels/ThreeDimensionalViz/commands/Pointclouds/PointCloudBuilder.js#L174

S

[2019-12-19 01:07] janpaul123 commented on #293
cc @brianc @vidaaudrey @jtbandes

[2019-12-20 20:52] jtbandes commented on #293
Thanks for the report. I'm able to reproduce the issue and confirmed webviz's color handling differs from rviz.

[2019-12-20 22:48] jtbandes commented on #293
I suspect this has to do with our endianness handling. We don't use the `is_bigendian` field, but then again, rviz also seems to ignore it.

References:
https://github.com/ros-visualization/rviz/blob/070835c426b8982e304b38eb4a9c6eb221155d5f/src/rviz/default_plugin/point_cloud_common.cpp#L191
https://github.com/ros-visualization/rviz/blob/070835c426b8982e304b38eb4a9c6eb221155d5f/src/rviz/default_pl

[2019-12-25 23:50] cjds opened #297 "Getting error on initalizing webviz"
I tried to build webviz using `npm run build` and `npm run docs` but I get

[code]

when I drag and drop a bag into the UI

[2019-12-25 23:50] cjds commented on #297
Commit I'm trying out is https://github.com/cruise-automation/webviz/commit/e9835e581cd5e82c5d555d7409bbe79702e7d1a8

[2019-12-26 00:35] janpaul123 commented on #297
Looks like an issue with the bag. How was it recorded? Any chance you can share it with us?

[2019-12-26 00:37] cjds commented on #297
I'll check but it might have been through a simulator. I will sanitize the bag of private information and attach it

[2019-12-26 03:22] baoyule-js opened #298 "Memory leak when use <GLTFScene>"
i use an array to store <GLTFScene>,and refresh the array 10 times per second ,and i find the memory usage exploded.i do not know why.

[2019-12-26 17:19] janpaul123 commented on #298
It would be helpful if you could create a simple webpage that demonstrates the issue; would that be possible?

[2019-12-26 23:38] #118 closed

[2019-12-27 00:08] janpaul123 commented on #118
@baker-Xie @Zanbrachrissik This is now working, see https://github.com/cruise-automation/webviz/pull/299 for details!

[2019-12-27 00:09] janpaul123 commented on #170
@PymZoR @dfeldstarsky @MarcoRuzzon This is now working, see https://github.com/cruise-automation/webviz/pull/299 for details!

[2019-12-27 00:09] #170 closed

[2019-12-27 00:09] janpaul123 commented on #209
@PatrickQianKun This is now working, see https://github.com/cruise-automation/webviz/pull/299 for details!

[2019-12-27 00:10] janpaul123 commented on #209
cc @beetleskin also (I saw that you 👍 this ticket)

[2019-12-27 00:11] janpaul123 commented on #170
cc @varandaas @vinaykumarhs2020 @sromberg @srsidd (I saw that you 👍 this ticket)

[2019-12-27 01:00] PatrickQianKun commented on #209
👍 👍 👍

[2019-12-27 01:38] vinaykumarhs2020 commented on #170
Thanks 😊. Giving it a try soon.

[2019-12-27 14:28] PatrickQianKun commented on #298
same issue，use multiple GLTFScene with glb models will cause regl context lost

[2019-12-31 01:35] rgov opened #304 "How do I build and deploy webviz-core on my own server?"
I'm trying to build webviz-core so that I can host it on my own web server, where it will be served out of a different path. Here's what I do inside a Docker container:

[code]

These commands are based on the repository README and what the package.json `build` script does.

My `/webpack.config.js` file overrides the project's in a few ways:

[code]

I take all of the produced files in `./webviz/d

[2019-12-31 02:18] janpaul123 commented on #304
It might be useful to look at the [`npm run docs-deploy`](https://github.com/cruise-automation/webviz/blob/e57b3a17f6caafd2d152696c220a6c24888f83e9/package.json#L133) command. It puts all files (after having run `npm run build`) into a temporary directory which is then published to our [`gh-pages` branch](https://pages.github.com/), but you can also just statically host that directory yourself.

I

[2019-12-31 02:20] rgov commented on #304
Thanks. But the gh-pages branch also hosts its files in the default `dist/` subdirectory. I should be able to override that by replacing the `output.publicPath` setting, but it does not work. Perhaps there is somewhere else in the code where it is hardcoded?

[2019-12-31 02:36] janpaul123 commented on #304
Possibly. I would recommend starting with a working setup, and then making small changes, making sure that nothing breaks in the meantime.

[2019-12-31 04:45] rgov commented on #304
I believe I can build the demo website OK, the question is more about how to deploy it on sites other than the demo site, with different URL layout, and not re-using the same example HTML pages. A lot of this repo is, for instance, documentation about Worldview,  which I don't want to deploy to my server.

[2019-12-31 19:15] janpaul123 commented on #254
Btw, we added some documentation on how to stream a bag from cloud hosting, and that also includes a `seek-to` URL parameter so you can have Webviz navigate directly to the relevant timestamp. I hope that's also helpful. Going to close this ticket for now.

[2019-12-31 19:15] #254 closed

[2019-12-31 19:15] janpaul123 commented on #224
It should work now! There's documentation in the panel itself. Let us know if you have any questions!

[2019-12-31 19:15] #224 closed

[2019-12-31 19:18] janpaul123 commented on #304
Yeah, we intend for people to use webviz.io/app, so if you want to build your own custom version of Webviz then for now you'll have to figure that stuff out yourself. I'd be interested in learning about the reasons for why you want to customize Webviz, and see if we could instead add features to the tool that everyone would benefit from. But for now I'll close this ticket since customization is an

[2019-12-31 19:18] #304 closed

[2019-12-31 20:56] rgov commented on #304
I have a web interface to a library of data collected from AUVs. Right now it mostly provides upload, download, and search capabilities. I'd like to embed Webviz for visualization and ideally replace drag and drop with the ability to select a file from the database.

[2019-12-31 21:04] janpaul123 commented on #304
Ah I see. What about linking out to `webviz.io/app`? You can currently stream bags and set layouts and such through the URL ([example](https://webviz.io/app/?remote-bag-url=https%3A%2F%2Fopen-source-webviz-ui.s3.amazonaws.com%2Fdemo.bag&layout-url=https%3A%2F%2Fopen-source-webviz-ui.s3.amazonaws.com%2FdemoLayout.json)). See the help page in the top-right corner of the app for more customization fo

[2019-12-31 21:13] rgov commented on #304
Yes that's a good idea, but it is a concern that the public instance might not be compatible in the future. Suppose we are trying to load .rosbags from a decade ago, and everyone has been using ROS 2.0 for a long time, and you have come up with a new format for specifying layouts, etc. etc. and you don't want to be burdened with backwards compatibility issues.

Also we might want to customize it t

[2019-12-31 21:25] janpaul123 commented on #304
Ah thanks for explaining!

We do intend to keep Webviz backwards compatible as much as possible. Internally we have no intention of switching to ROS 2.0 since we've heavily forked ROS 1.0, so hopefully we won't have too many issues there. And if there is a compatibility issue you can always check out an older version from our repo.

Yeah that's a good point, but we try to as much as possible keep

[2020-01-01 00:50] janpaul123 commented on #304
That said, I'll also think more about releasing it as an npm package, even with a limited API, just to make it easier to integrate. It shouldn't be too difficult.

[2020-01-02 17:31] cjds commented on #297
https://drive.google.com/file/d/1aapnmnWaEPQ0piEowbSGMsoDNmzXVpio/view?usp=sharing

[2020-01-02 18:54] janpaul123 commented on #297
What version of ROS are you on? The message definitions looks pretty old and malformed. First it uses the old `Header` definition instead of `std_msgs/Header`, but that's allowed per the bag format. But also there is a topic which uses `DiagnosticStatus` in the message definition, but the definition for `DiagnosticStatus` itself is not present in that header. That looks malformed per the [descript

[2020-01-02 19:51] cjds commented on #297
Sorry, I don't think I follow your comment (not super well versed with the rosbag format).

1. We're using Melodic
2. To generate the `DiagnosticStatus` messages we're using https://github.com/ros/diagnostics which hasn't been changed since Indigo but does have a melodic release (maybe a PR to that is needed). (Assuming you are talking about the `/diagnostics_toplevel_state` topic)
3. Could you po

[2020-01-02 20:20] janpaul123 commented on #297
Huh, weird. To clarify: the problem seems to be that the bag does not properly contain the message definitions inside. How did you generate the bag? Did you just use `rosbag record` or something else?

[2020-01-02 20:25] janpaul123 commented on #297
I suspect that there's something weird with how the bag was generated, because when I run `rosbag fix 2019-12-06-05-44-04.088091_task-3715_action-57980_freight100-1274_0.bag out.bag --force` then it produces a bag that I can play with Webviz just fine.

[2020-01-02 20:33] cjds commented on #297
I think that may be it...

We use the `rosbag` C++ API directly.

https://github.com/ros/ros_comm/tree/melodic-devel/tools/rosbag

Specifically https://github.com/ros/ros_comm/blob/melodic-devel/tools/rosbag_storage/include/rosbag/bag.h#L165 that line is what it comes down to.

I think I'll check the changes that fix is doing and either make an upstream change to `rosbag` or change our downstream

[2020-01-02 20:33] #297 closed

[2020-01-06 21:44] defied opened #312 "Live viewer bogs down after time and data"
Currently, while running webviz connected to a rosbag websocket, the data collected remains on screen from time of start and beings to slow the web display down as time increases.

It would be nice to have an option for live telemetry allowing the time scale to slide along a specified range of time, reducing the amount of data being kept.

[2020-01-06 22:05] janpaul123 commented on #312
That's a great idea! Which panels in particular do you have this issue with?

[2020-01-07 00:57] defied commented on #312
It's most easily recognized with the plotters, as they maintain the full history. I haven't tried the others, including raw data.

[2020-01-07 01:02] janpaul123 commented on #312
Cool, yeah, makes sense. Most panels keep a fairly limited set of data, but the Plot panel currently always keeps an indefinite set. I believe that the rosout panel also keeps a large amount of data, but not unlimited. The 3d panel keeps an indefinite set if you just keep adding markers and never delete them, but that's in your control to fix.

So perhaps if we just add a maximum number of datapoi

[2020-01-07 16:08] cjds opened #314 "Latching topics and the 3dPanel"
Hello,

FYI @dbking77. We're having a problem with the way the 3dPanel keeps data between scrubbing on the timeline and latched topics.

The problem comes down to the way the `seekPlayback` function is implemented [here](https://github.com/cruise-automation/webviz/blob/2e7db3aafffec39b541728668c97ce7d83eee007/packages/webviz-core/src/players/RandomAccessPlayer.js#L421). Because all the latched mes

[2020-01-07 17:41] defied commented on #312
And possibly make it switchable? It's nice in small rosbags to see the whole trail of data, but when you get larger bags, it would bog down just like live data.

[2020-01-07 18:37] defied commented on #312
Although, I guess if you let us set max datapoints, we could do that ourselves.

[2020-01-07 22:26] janpaul123 commented on #314
Ah very interesting. We don't use latched topics as such, but we do have similar issues with our own bags. I'm currently actually working on something that should enable (2), but it's a pretty major refactor of our data storage APIs, so it might take a while. But it's my current priority internally as well, so that works out nicely. 😄

[2020-01-08 17:20] cjds commented on #314
(2) would be the ideal solution for this I think so that works out. Let me know if you want any help on the smaller chunks. If you make them issues on this project I can help tackle some

[2020-01-10 16:45] flynneva opened #318 "missing dependencies on master branch"
when following the instructions for installation, after running "npm run bootstrap" and "npm run build" results in an error because its missing two packages: popper.js and react-dnd-html5-backend.

running npm i popper.js react-dnd-html5-backend results in a clean build.

[2020-01-10 18:47] janpaul123 commented on #318
Huh, weird, CI on master is green and only ran [a day ago](https://circleci.com/gh/cruise-automation/webviz/1898). 😕 But it does install things slightly differently. Could you perhaps make a PR with those dependencies fixed? In our root package.json we have everything in devDependencies btw.

[2020-01-10 20:08] conrad commented on #288
Thanks, @vidaaudrey! We also haven't had a lot of bandwidth, but I'll be able to take a look soon.

[2020-01-10 20:15] rgov opened #319 "Detection of Accept-Ranges header is failing"
I have an unmodified, self-hosted copy of Webviz that is loading from a relative URL, so there should not be any CORS configuration to worry about. And indeed, I had this working just a moment ago, but something changed and now I am getting an error when loading my .bag:

    Error: Remote file does not support HTTP Range Requests.

Indeed, if I look in the Chrome inspector's Network tab, I see th

[2020-01-10 21:03] wuweiweiwu opened #320 "Update rollup and plugins"
Hello!

We have recently finished migrating rollup plugins into our new plugins [monorepo](https://github.com/rollup/plugins) and consolidated packages names (ie: `rollup-plugin-commonjs` -> `@rollup/plugin-commonjs`)

Would this sort of change be welcome? If so I'd love to make this contribution!

[2020-01-10 21:10] vidaaudrey commented on #320
@wuweiweiwu  definitely welcome! I set it up long time ago, would love to keep it updated. Thanks!

[2020-01-10 21:14] jtbandes commented on #319
The code which detects this support is fairly straightforward. Perhaps you can set a breakpoint here and see what the code receives in `response.headers`?

https://github.com/cruise-automation/webviz/blob/4c76bcba00b44b9d1fdf6e9108d5b7a6f58bed10/packages/webviz-core/src/dataProviders/BrowserHttpReader.js#L39

[2020-01-10 21:15] janpaul123 commented on #319
Not sure, might be also different request headers that make the server respond differently?

[2020-01-10 21:17] rgov commented on #319
@janpaul123: I've fiddled with the curl request to make it exactly match what Chrome claims to be sending (e.g., Chrome does not send `Accept` but curl does), and I've verified they're both using HTTP/1.1. I can't repro it...

[2020-01-10 21:18] wuweiweiwu opened #321 "Confusion about yarn workspace usage"
Seems like yarn workspaces are used in this monorepo https://github.com/cruise-automation/webviz/blob/master/package.json#L142 but lerna is not utilizing it.

Would it make sense to remove the `workspaces` key from `package.json` since this monorepo uses `lerna boostrap`? or is there plans to migrate -> yarn & workspaces?

[2020-01-10 21:19] janpaul123 commented on #321
I don't think there are concrete plans to migrate to yarn workspaces, so any cleanup would be welcome! 🙌

[2020-01-10 21:22] janpaul123 commented on #319
Not sure then! Maybe add some logging to the webserver to see exactly what it receives and sends when Chrome makes the request?

[2020-01-10 22:17] rgov commented on #319
After looking through a proxy, it looks like when Chrome makes the request, it sends `If-None-Match` and `If-Modified-Since` headers, which cause the server to return `304 Not Modified`. For some reason Chrome developer tools show this as `200 OK`.

Anyway, because the response is actually `304 Not Modified` the server does not bother to send an `Accept-Ranges` header.

[2020-01-10 22:59] #321 closed

[2020-01-10 23:11] janpaul123 commented on #319
Very interesting! We could try disabling the cache on the initial fetch request in https://github.com/cruise-automation/webviz/blob/4c76bcba00b44b9d1fdf6e9108d5b7a6f58bed10/packages/webviz-core/src/dataProviders/BrowserHttpReader.js#L39? See e.g. https://hacks.mozilla.org/2016/03/referrer-and-cache-control-apis-for-fetch/

[2020-01-11 01:25] rgov commented on #319
Could you assume it supports Accept-Ranges and request 1 byte, or `sizeof(struct rosbag_header)`, and error if the length doesn't match?

[2020-01-13 09:58] johuber opened #323 "Publishing to ROS from Webviz"
Is there currently a way to publish anything from Webviz to ROS? I am referring to something equivalent to the "Tools" in RVIZ, where you can interact with a point or set a goal pose.

In case you don't have that yet, do you expect implementation of it to be straightforward or do you anticipate any major issues due to your architecture?

[2020-01-13 18:55] flynneva opened #324 "[feature request] record rosbag file of specific topics and export to local system"
I'm not sure if this exists yet but it would be awesome to be able to export to a rosbag from webviz.
Selecting specific topics would be cool as well.

[2020-01-14 06:09] janpaul123 commented on #323
Currently we don't have support for this in the open source version. The first step would be to implement these methods, which should be pretty straightforward: https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/players/RosbridgePlayer/index.js#L281-L282

Once that's done we can make our "Publish" panel open source, which we currently only have in our internal version

[2020-01-14 06:11] janpaul123 commented on #319
Yes, that seems like a great idea too. Feel free to try that. If you can find something that fixes your case, I'd be happy to merge it (provided that it also keeps working with S3 and GCS which is what we've tested this with so far)!

[2020-01-14 06:14] janpaul123 commented on #324
Interesting, what is the use case that you have in mind? Are you thinking of recording data over a websocket and then storing it in a bag, as an alternative to `rosbag record`? Or would you want to slice existing bags, as an `rosbag filter`?

[2020-01-14 10:24] johuber commented on #323
That's more or less the answer that I expected, thank you.

Unfortunately, I currently don't have the resources to implement this. I still think it could be an interesting feature for many users who want to use Webviz as a replacement for RVIZ; maybe someone else in the community is interested in doing it..

[2020-01-15 21:33] flynneva commented on #324
the real benefit I see for webviz in general is it is a quick-and-easy way for non-ROS user's to get their hands on data. for instance if webviz could record data then I could be messing with a sensor in a lab, see something cool as far as performance/testing/etc. and then want to share it with other people. if webviz could do rosbag record then I could shoot someone a URL with my websockets addre

[2020-01-15 21:35] flynneva commented on #318
sorry just getting back to this! yeah ill see if I can make a PR tonight

[2020-01-15 22:27] jtbandes commented on #324
I'm not sure how this part is related to recording:

can't you do that already by having them use webviz with the same configuration, pointed at the same server you're currently looking at?

[2020-01-15 23:10] flynneva commented on #324
yeah sorry I forgot to add "and they could take a recording from there desk"....

[2020-01-16 00:08] janpaul123 commented on #324
Cool, that makes a lot of sense, I like that vision. One blocker for this is using the raw ROS messages over the websocket, which we can work on once this gets released: https://github.com/RobotWebTools/rosbridge_suite/pull/452

[2020-01-17 18:03] rgov commented on #319
Actually I think that's not going to work because if the server doesn't support `Accept-Ranges` it will ignore the header and then you're going to get the entire file back which is a crappy way to test. I think the solution is to just disable caching for this header check.

[2020-01-17 20:20] janpaul123 commented on #319
We already do that though: we request the entire file and then just immediately abort the request. This way we can get the file size without having to make a HEAD request (which would be yet another complication in setting up webservers properly). You can see us doing that here: https://github.com/cruise-automation/webviz/blob/4c76bcba00b44b9d1fdf6e9108d5b7a6f58bed10/packages/webviz-core/src/dataP

[2020-01-31 03:15] artvichi opened #337 "Support for multi touch for mobiles and tablets"
Hello! What you do is awesome, guys!
We are happy to use your library in our company!
One thing would be awesome to have - support for multitouch and mobile devices (+ tablets)
Do you have something like that in webviz?
If not, maybe you can add the feature - it would be cool! 😄
Many of our customers would like to interact with system with smaller devices...

[2020-01-31 03:41] jtbandes commented on #337
Many features already work on mobile devices. However, some core features like the 3D panel aren't optimized for it. We would be happy to review PRs if you want to contribute improvements in this area!

A good starting point would be the [regl-worldview package](https://github.com/cruise-automation/webviz/tree/20fc7c395b049ab862e39d07ce329db94b5f5e6f/packages/regl-worldview), particularly the Came

[2020-01-31 18:08] janpaul123 commented on #337
Also note that officially we only support Chrome, so it might be best to use the Chrome mobile browser.

[2020-01-31 19:12] jtbandes commented on #337
I'm not sure this would make much of a difference on iOS, where (last I heard) all browser apps are required to use the system-provided webview. It shouldn't hurt too much to make it work properly in Safari though :)

[2020-01-31 19:20] janpaul123 commented on #337
Oof, I'm surprised that they still have that restriction (antitrust legislation and all…). It might not, but we definitely use some Chrome-specific features here and there, and Mobile Safari/Webkit is notorious for its bugs. 😭 Anyway, always happy to take PRs that fix things in other browsers, we just won't guarantee that we can officially support those browsers.

[2020-02-04 17:51] acadien opened #338 "Time series plotting support"
Webviz is useful for quickly plotting of timeseries that are ros compatible. I frequently use it for debugging raw sensor output; for example here is the output from a magnetometer;
![image](https://user-images.githubusercontent.com/375220/73771575-76304300-4733-11ea-8396-5e3f7e13e623.png)

The problem is that points accumulate and eventually the entire browser begins to lag under the weight of re

[2020-02-04 18:05] acadien opened #339 "/tf not rendered properly in webviz"
I have a /tf that renders fine in RViz:
![image](https://user-images.githubusercontent.com/375220/73772435-facf9100-4734-11ea-88e3-044d3be99340.png)
but seems to have some issues in webviz,
![image](https://user-images.githubusercontent.com/375220/73772748-9f51d300-4735-11ea-85d3-42f2db3a854b.png)
Is it possible that webviz doesn't consume static portions of the tf tree? Any other thoughts?

[2020-02-04 18:07] janpaul123 commented on #338
Yeah, this issue was also noted in #312. I think we're gonna go with an x-axis limit (the third option that you mentioned above doesn't work great if topics are publishing at different rates).

[2020-02-04 18:09] janpaul123 commented on #339
Yes! There's already a PR to fix this at #336. I'll have to look at getting that in soon.

[2020-02-04 20:44] acadien commented on #338
Excellent thank you @janpaul123

[2020-02-04 20:44] acadien commented on #338
duplicate - https://github.com/cruise-automation/webviz/issues/312

[2020-02-04 20:44] #338 closed

[2020-02-04 22:18] acadien commented on #339
duplicate of https://github.com/cruise-automation/webviz/pull/336

[2020-02-04 22:18] #339 closed

[2020-02-08 22:04] IanBoyanZhang opened #341 "Fail to bootstrap using node v12"
Hello Webviz team,

Thanks for releasing such an awesome tool! When I try setting project up with node v12.0.0 installed from nvm, I got below v8 error(s).

Switched to v11.15.0, `npm run bootstrap` successfully completed bootstrap process.

Looks like the error is related to

[Issue 849 nan support for node 12](https://github.com/nodejs/nan/issues/849)

[code]

[2020-02-10 17:56] janpaul123 commented on #341
Yeah we should update our dependencies, so we get the fix from node-sass.

[2020-02-27 12:14] ubicray opened #346 "Exception calling subscribe callback: 'float' object has no attribute '__slots__'"
Why do I get this on the ROS side bridge when I try to plot?
What does that mean? Any idea?

[2020-02-27 16:27] jtbandes commented on #346
Can you provide some more details? Which version of ROS, what are you advertising on the topic, publisher side code, etc.

[2020-02-27 16:45] ubicray commented on #346
Ros Kinetic
Happens with a lot of kinds of topics but not all
For example if I try to plot latitude values from sensor_msgs/NavSatFix Message

[2020-02-27 17:41] janpaul123 commented on #346
Ah I think this should get fixed once we implement the webviz side of this PR: https://github.com/RobotWebTools/rosbridge_suite/pull/452 We'll have to make some time for that soon, so stay tuned!

[2020-02-28 05:46] MaxwellGumley opened #347 "no websocket connection is made for rosbridge"
Summary:
The webvis app does not connect to rosbridge.  The help file indicates this should be automatic:
"By default we try connect to a rosbridge_server using a WebSocket on ws://localhost:9090."

Details:
I set up a rosbridge_server using the tutorial here:
http://wiki.ros.org/melodic/Installation/Ubuntu

I started the webviz on the same host and webviz demo works fine, but if I try to connect

[2020-02-28 06:03] #347 closed

[2020-02-28 06:06] MaxwellGumley commented on #347
I found the issue.  My webvis server and rosbridge server are both on a remote machine.  I was using ssh forwarding so I can view the webpage on my local machine.  Ssh forwarding of localhost does not work for the rosbridge for some reason.  I'm still using ssh forwarding for webvis, but not for rosbridge.  I changed my url from this:
http://localhost:8020/app/?rosbridge-websocket-url=ws://localho

[2020-02-28 06:24] janpaul123 commented on #347
Yay glad you figured it out!! 🎉

[2020-03-04 04:34] MaxwellGumley opened #348 "ros2 bridge support"
I have data in the ros2 format that I'd like to view with webviz.  I was able to connect webviz to my ros1 bridge (using ros1 data), but when I try to connect to the ros2 bridge (which has ros2 data), I get an error on the bridge server side:
[code]
and an error on the web client side:
[code]
I'm using the ubuntu package `ros-dashing-rosbridge-server`.  Please advise.

[2020-03-04 18:18] janpaul123 commented on #348
We currently don't support ROS2. And I don't know too much about it, but happy to chat with folks on how we could support it.

[2020-03-04 18:18] janpaul123 commented on #348
I guess I shouldn't close this since it is a good feature request that others might be interested in too!

[2020-03-06 20:51] bigredfrog commented on #314
+1 on a solution for this...

[2020-03-06 22:28] flynneva commented on #348
so you can get this working by using the [ros1_bridge for ROS2](https://github.com/ros2/ros1_bridge) and then the normal ROS 1 bridge package.  its a little cloogy but it works :+1:

[2020-03-07 00:00] MaxwellGumley commented on #348
Can you elaborate on this? I'm new to ROS.  My web client is using the ros1 websocket protocol.  For example, I need to query the websocket server for `/rosapi/topics` and `/rosapi/message_details`.

[2020-03-08 02:48] heshiwen1989 opened #350 "npm run build error"
Hi, webRiv Teams:
 when i follow git readme to use this project, i get error, e.g.
ERROR in ./packages/webviz-core/src/components/Modal.js
Module not found: Error: Can't resolve 'react-key-listener' in '/home/xxx/Downloads/webviz-master/packages/webviz-core/src/components'
 @ ./packages/webviz-core/src/components/Modal.js 12:47-76
 @ ./packages/webviz-core/src/components/ShareJsonModal.js
 @ ./pac

[2020-03-08 04:27] flynneva commented on #348
so the ros2 to ros1 bridge is a little funky to get working properly.

you need to have sourced both the ros1 and ros2 setup.bash files you want to use (for me I used ros melodic and ros2 dashing).

let me try and outline it in a list...ill assume you have ros melodic and ros2 dashing installed in your `/opt/ros` directory.

1.  Terminal 1 - source your ros 2 install if you havent already in your

[2020-03-08 04:32] flynneva commented on #348
I think for a longer term vision of webviz it would make more sense to follow the progress of [rclnodejs](https://github.com/RobotWebTools/rclnodejs) and once it has all or most of the features that webviz needs just have a forked version of webviz that uses that library instead.

not sure of the effort for this but my guess is it would be pretty high.....

[2020-03-08 05:30] chengtz commented on #350
老师，他这个不能直接npm install来安装所有依赖，他在readme中说了Please see the individual package READMEs for details on how to install and use them.  请查看这些支持包自己的readme来安装部分依赖和使用

[2020-03-08 06:08] jtbandes commented on #350
Hello, did you try running `npm run bootstrap` first? Can you please share the full console log including the commands you ran?

[2020-03-08 06:58] heshiwen1989 commented on #350
My Step is:
Step1: nmp run bootstrap, but install node-sass get some error, and then i install node-sass independently by command: nmp install node-sass --save, finally run nmp run booststrap again no any error;
Step2: nmp run build , and get error:
![image](https://user-images.githubusercontent.com/28886748/76158104-1e7b6200-614d-11ea-9d2d-4ff407402226.png)

[2020-03-08 07:00] heshiwen1989 commented on #350
My Step is:
Step1: nmp run bootstrap, but install node-sass get some error, and then i install node-sass independently by command: nmp install node-sass --save, finally run nmp run booststrap again no any error;
Step2: nmp run build , and get error:
hsw@hsw-ThinkPad-E460:~/Downloads/webviz-master$ npm run build

lerna notice cli v3.6.0
lerna info Executing command in 5 packages: "npm run build"
le

[2020-03-08 07:02] heshiwen1989 commented on #350
我看他的readme不是说这个工程包含很多部分，并且，我看src中包含react-key-listener相关的东西，能否指导一下呀

[2020-03-08 07:25] heshiwen1989 commented on #350
Hello, My Solution for this issue:
Use npm install react-key-listener directly(by: npm install react-key-listener --save), and Then No Any Error, Thanks!

[2020-03-08 08:58] chengtz commented on #350
老师这个东西错误是真的多，我好好弄下，给他弄docker封装到国内容器里，到时候直接使用了

[2020-03-08 09:12] chengtz commented on #350
找到了 docker pull johannhaselberger/webviz   不过是六个月前的
何老师你npm安装好了没？ 安装好能留个联系方式吗

[2020-03-08 09:17] chengtz opened #351 "Is this official Docker img ? johannhaselberger/webviz"
Tried to install many times , alyways error
so i go searching the docker img , i found this johannhaselberger/webviz
the img packed six mon ago , not the latest version.
Any official docker img will be published ?

[2020-03-08 09:23] heshiwen1989 commented on #350
我是直接git下载这个工程，然后按照 npm run bootstrap，如果报错，就通过npm install 出错模块 --save 单独安装出错的模块， 然后 npm run build, 我遇到的是找不到模块react-key-listener, 我就通过npm 直接安装这个模块，再次npm run build 就ok了

[2020-03-08 09:23] #350 closed

[2020-03-08 09:26] chengtz commented on #350
老师。我刚才一分钟就安装好了，用的是docker，别人已经装好的依赖

https://hub.docker.com/r/johannhaselberger/webviz

直接用docker映射8080就可以直接使用了，你可以保存一下，可以给个联系方式吗，我是南京金陵科技学院的学生，有ROS方面的问题可以请教请教

[2020-03-08 09:46] chengtz commented on #350
手动也装好了，给家里服务器连到路由器装了个翻墙软件

[2020-03-08 10:02] heshiwen1989 commented on #350
你可能是网络不好也有可能，npm比较慢可能会有一些失败；你打算用这个做什么

[2020-03-08 11:08] chengtz commented on #350
毕业设计就是设计ROS小车，弄个可视化的界面再加上自己新增的一些传感器话题发布，到时候导师就很容易通过了

[2020-03-09 06:38] vidaaudrey commented on #350
@chengtz 除了`react-key-listener`, 你还发现了什么错误呢？ 我刚刚重新在本地安装了一遍没发现什么问题：`git clone...` => `npm run bootstrap` => `npm run build` => `npm run docs`.

另外你能告诉我你的 npm, node 的版本吗？我的是 npm(6.13.4), node (v10.15.3). 你用的是什么操作系统呢？

[2020-03-09 14:49] ubicray opened #352 "How to switch from chartjs for better performance"
Great job with webviz, there's no comparable package that works just as well

I have an issue with the plotting tho, as plotting something at 100 hz for a minute can break the back of my i7 processor in a minute, slowing the performance down to 0.2 fps
I tried simplifying the plots with simplifyjs, but the issue wasn't solved with it

I wanna give plotly a chance (https://plot.ly/~cal8food/28/rend

[2020-03-09 20:34] davidcrawford commented on #352
Hi Elmar,

We are going to land a big performance improvement to the plot panel soon, moving the chart rendering to a web worker, but this is an interesting comparison that I don't think we've considered.  One thing you can try as an experiment is adding a separate plotly panel to see if you can really get these gains.  Performance is a high priority for us, so we'd be happy to help incorporate it

[2020-03-09 20:41] davidswinegar commented on #352
Hi @ubicray - as David stated, we are moving the chart calculation behind a web worker soon, so that should reduce some load for your charts. We will also be switching to use Chart.js 3.0 (https://github.com/chartjs/Chart.js/issues/6598) when that is released in the next few months which should give you a massive speedup in these cases.

If you are interested in making your own panel with better p

[2020-03-09 23:41] janpaul123 commented on #348
Unfortunately internally in Webviz we're pretty tied to the ros1 binary message format, and we're going to lean on it more for performance improvements soon. So we'll have to figure that part out.

[2020-03-09 23:50] janpaul123 commented on #351
No, currently we recommend you use the version at webviz.io/app instead of building your own version. See the discussion at https://github.com/cruise-automation/webviz/issues/304

[2020-03-09 23:50] #351 closed

[2020-03-10 11:59] walstanb opened #353 "Need Guidance"
How to I use webviz 2D plot to plot a point path in a 2D plane

[2020-03-10 15:57] janpaul123 commented on #353
There's some documentation and an example [here in the docs](https://github.com/cruise-automation/webviz/blob/e70c549edcdcbf9f06b90c43afe7915b8395c2b0/packages/webviz-core/src/panels/TwoDimensionalPlot/index.help.md). The part under "message" is what the message itself should look like.

cc @esthersweon @davidswinegar maybe you have more examples?

[2020-03-10 16:49] walstanb commented on #353
Thank you, could you help me out with examples. I just have two constant values from the whycon localization system and I want to plot them on a graph continuously to form a path

[2020-03-10 17:24] janpaul123 commented on #353
Maybe first try to get this first example message to render, and from there you can add more lines/points/polygons to get the plot that you need.

[2020-03-10 18:29] walstanb commented on #353
how do I do that, do I need to make a .msg file as the example and publish it ?

[2020-03-10 18:35] walstanb commented on #353
and is it possible to get this the full thing working in 3D and make a path in 3 dimensional space ?

[2020-03-10 18:43] janpaul123 commented on #353
Exactly.

For that you should use the 3D panel and publish [RViz markers](http://wiki.ros.org/rviz/DisplayTypes/Marker).

[2020-03-11 12:38] Reaper151 opened #358 "Access webviz from mobile devices"
I tried to access webviz from mobile devices in same network by using
`webpack-dev-server --host <ip-of-my-pc-from-WIFI-properties> --port 8080` instead of `npm run docs` since I need IP of web to access but I encountered some problems
1.Layout in mobile and host PC not match
2.I can't find any topics in mobile while I found them in PC

Additional feature which I'd like to see : auto-scroll x axis

[2020-03-11 13:47] Reaper151 commented on #358
UPDATED: I can access by forward ROS bridge server by this command
`<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
     <arg name="port" value="_your-port-number_"/>
     <arg name="address" value="_your-ip-address_"/>
  </include>
</launch>`
Credit: http://wiki.ros.org/rosbridge_suite/Tutorials/RunningRosbridge

and I can sync layout by export layout setti

[2020-03-11 17:08] janpaul123 commented on #358
Glad that you managed to figure it out!

Yeah, that's being tracked here: #312.

[2020-03-11 17:08] #358 closed

[2020-03-11 17:39] Reaper151 commented on #358
But I can't sync layout by export layout setting from host PC and save it as json then upload to google drive and use this URL format http://xxx.xxx.xx.xx:8080/app/?layout-url=https%3A%2F%2Fopen-source-webviz-ui.s3.amazonaws.com%2FdemoLayout.json.

[2020-03-11 18:11] janpaul123 commented on #358
Google Drive probably doesn't set the right [CORS headers](https://github.com/cruise-automation/webviz/blob/e57b3a17f6caafd2d152696c220a6c24888f83e9/packages/webviz-core/src/util/corsError.js#L10). You'll need to use a server that sets the correct CORS headers. I'd recommend S3 or GCS.

[2020-03-11 18:12] janpaul123 commented on #358
Or you can just manually copy/paste the layout.

[2020-03-11 22:28] maxlein opened #361 "Current status of cbor compression usage?"
Hi,

I just saw the closed PR on the rosbridge repo and a comment that some work has still to be done on the webviz side.

Is this already working or not finished yet?

Because I saw this, and it looks like its already used:
https://github.com/cruise-automation/webviz/blob/e57b3a17f6caafd2d152696c220a6c24888f83e9/packages/webviz-core/src/players/RosbridgePlayer/index.js#L252

[2020-03-11 22:38] janpaul123 commented on #361
Ah no, this uses the old cbor compression, we still need to switch to cbor-raw. I haven't gotten around to it yet!

[2020-03-12 13:32] Sollimann commented on #346
I have the same issue when subscribing to /odometry /tf /joint_states messages. How's the fix doing? Btw, great tool you have here!

[2020-03-12 13:45] Sollimann commented on #341
I had the same issue. Solved by uninstalling node v13 and the install node v11 instead. Think it might work with node v10 as well.

[2020-03-16 03:18] flynneva commented on #318
closing this because it looks like its been fixed...sorry for not doing this myself awhile back :smile:

[2020-03-16 03:18] #318 closed

[2020-03-16 17:12] meitiever commented on #346
I have the same issue even if I subscribe to image topic.

[2020-03-17 13:01] ubicray opened #371 "How to make ros service calls"
So far what I have in mind:
Create a new panel type
Put buttons in it
Make buttons call services via rosbridge
Is there any documentation regarding that I can use?

[2020-03-17 17:31] janpaul123 commented on #371
Yeah this is a great request, and very similar to #323. Like I said in the answer there, in our internal version we have similar functionality, so I should really just allocate some time soon to port it to the open source version…

[2020-03-19 17:35] jasonimercer opened #373 "Slightly broken bags no longer work after #354"
Before #354, bags with missing message definitions would play in webviz. At the command line, we get a warning but things generally work (rosbag play):

[code]

After #354, webviz now fails to initialize with:

[code]

I expect there's a way we could repair our bags internally but we now rely on webviz for our tier 1 - 3 triage teams (sorry, I should have prefixed all this with gushing omg thank y

[2020-03-19 17:47] jasonimercer opened #374 "[feature request] support multiple remote-bag-urls."
Would it be possible to support multiple remote bags (even 2) in the same way that you support 2 local bags?

Our bagging strategy breaks data into different bags, a "main" bag with most general information and then more customized bags that are useful for triaging specific issues.

Our triage teams have become used to using the webviz links our backend data collector provides, these links bring t

[2020-03-19 17:52] janpaul123 commented on #373
Oh interesting! Weird how a topic with no message definition can end up in the bag, because by definition that means that any messages on that topic can't get parsed. Anyway, I think we can fix this pretty easily on our end; I'll have a look soon!

Btw, thanks so much for the kind words! We don't have too much insight in who uses Webviz so it's really cool to hear that we're such an integral part

[2020-03-19 17:56] jtbandes commented on #374
Yes, in fact we are also tracking this request internally. (It's become more relevant in today's work-from-home climate.) I don't want to promise a timeline on behalf of the folks actually working on it, but I think it's likely to be implemented soon, so stay tuned! Thanks for the request!

[2020-03-23 19:43] agarret7 opened #376 "[feature request] change panel background color"
Would it be possible to add functionality for changing the background color of the 3D visualization panels? In particular it would be nice to be able to select a white background.

[2020-03-23 20:08] janpaul123 commented on #376
Sounds like a good idea to me! cc @vidaaudrey @davidswinegar

[2020-03-23 22:17] ubicray commented on #371
Thanks for letting me now!
I'd rather need it ASAP, so started implementing it myself. Would you mind sharing a panel with service integration if possible?

[2020-03-23 22:27] vidaaudrey commented on #376
Yeah good idea. We could add as part of the 3D panel menu options [here](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/ThreeDimensionalViz/TopicGroups/LayoutForTopicGroups.js#L462-L476), perhaps with a color picker to choose the background. @agarret7  let us know if you are interested in taking it? Otherwise I could pick it up early next week.

[2020-03-25 00:31] janpaul123 commented on #371
We currently don't have a panel with service integration, but tomorrow I'll push our internal "Publish" panel with which you can publish on arbitrary topics. If you follow the logic of how that one works it should be somewhat straightforward to modify it to support service calls as well. I'll update you here when I push that code.

[2020-03-25 18:28] janpaul123 commented on #371
@ubicray FYI pushed it here: https://github.com/cruise-automation/webviz/pull/378

[2020-03-26 00:42] janpaul123 commented on #361
@maxlein I've written the code for this and am going through our internal review process. I'll keep you posted! Btw, I'm trying to get to know our open source community better, and would love to learn more about what you use Webviz for. Could you perhaps shoot me an email at jp.posma@getcruise.com?

[2020-03-26 00:48] janpaul123 commented on #304
@rgov did you end up getting this to work?

[2020-03-26 00:49] janpaul123 commented on #341
@IanBoyanZhang did you get this to work? Btw @IanBoyanZhang and @Sollimann, I'm trying to get to know our open source community better, and would love to learn more about what you use Webviz for. Could you perhaps shoot me an email at jp.posma@getcruise.com?

[2020-03-26 00:53] janpaul123 commented on #314
@cjds @bigredfrog update: still working on this, and @jasonimercer also mentioned this to me, so there's definitely a lot of interest. I had to pause working on it for a little bit though as we've had quite a few bugs that I've had to look into instead.

Btw @cjds and @bigredfrog, I'm trying to get to know our open source community better, and would love to learn more about what you use Webviz for

[2020-03-26 00:55] janpaul123 commented on #293
@shaeqahmed Update: it looks like someone internally is going to look into this soon. Btw, I'm trying to get to know our open source community better, and would love to learn more about what you use Webviz for. Could you perhaps shoot me an email at jp.posma@getcruise.com?

[2020-03-26 00:56] janpaul123 commented on #274
@artvichi did this end up working? Btw, I'm trying to get to know our open source community better, and would love to learn more about what you use Worldview/Webviz for. Could you perhaps shoot me an email at jp.posma@getcruise.com?

[2020-03-26 00:57] janpaul123 commented on #348
Btw @MaxwellGumley @flynneva, I'm trying to get to know our open source community better, and would love to learn more about what you use Webviz for. Could you perhaps shoot me an email at jp.posma@getcruise.com?

[2020-03-26 01:03] rgov commented on #304
I think so, yes. I have a custom config module like this:

[code]

And I use a Docker container to run

[code]

It's not ideal but works alright.

[2020-03-26 09:11] Sollimann commented on #341
@janpaul123 yea, got it to work. however, seems to be an issue in regards to rosbridge when subscribing to nav_msgs/Odometry /tf and joint_states. I get this error message: Exception calling subscribe callback: 'float' object has no attribute '__slots__' . I added a issue on it 28 days ago. As to your second question: I'm working in a Norwegian software company called Cognite that provides softwar

[2020-03-26 11:59] jasonimercer opened #379 "[feature request] Expose the current epoch"
Webviz is a great collaborative triage tool. Often we would like to be able to create links that would seek to a specific timestamp in a stream but there's no easy way to pull the current timestamp out of the UI. Copying the epoch in the format expected by the `seek-to` to the clipboard would be enough, generating a full link with new or updated seek-to (like youtube) would work too.

Even exposin

[2020-03-26 12:38] jasonimercer opened #380 "[feature request] Tools for collaboration"
Webviz is the main tool used for triaging a wide class of robot issues in our business. When the issue being examined needs to cross a triage boundary due to skill/training, we need to use parallel data presentation to document what we see in Webviz, for instance in a ticket we could have:

Open link <link>
Seek to time T1
Move the camera to a position
Enable a layout (can now be in the link)
Obse

[2020-03-26 13:12] ubicray commented on #304
@rgov I'm trying the same but it's not working for me
overall webpack builds it but doesn't serve it. and I don't get to see anything in the static folder afterwards either

[2020-03-26 13:24] cjds commented on #314
Sure will do

[2020-03-26 15:13] cjds commented on #374
+1 would also love the ability for multiple remote bag URLs

[2020-03-26 17:03] cjds opened #381 "Not able to get S3 bag data to show up in Webviz using presigned URLs"
Hello,

I tried using a presigned URL from S3 to put my bag into webviz, but all I got was the following

[code]

This is the stacktrace the issue is coming from.
[code]

In the network tab, everything looks like a 200.

[2020-03-26 17:12] janpaul123 commented on #381
Ah yeah, usually you just need to set the right CORS settings on the S3 bucket. We have an example Terraform configuration [here](https://github.com/cruise-automation/webviz/blob/7cc88e02e0e8270c98ce56978344f2950d8d803c/packages/webviz-core/src/util/corsError.js#L18-L23).

[2020-03-26 17:17] jtbandes commented on #374
It's already covered in #378!

[2020-03-26 18:18] cjds commented on #381
Got it in one. It was indeed a CORS issue.

For future reference for people using S3 this is the CORS configuration I used (it might be a little more loose than the minimum you require to get webviz working)

[code]

[2020-03-26 18:18] #381 closed

[2020-03-27 15:11] agarret7 commented on #376
I'm receiving a bunch of compile  when running `npm run bootstrap`, mostly looking something like:

    In file included from ../../nan/nan_new.h:189:0,
                     from ../../nan/nan.h:222,
                     from ../src/binding.cpp:1:
    ../../nan/nan_implementation_12_inl.h: In static member function ‘static Nan::imp::FactoryBase<v8::Function>::return_t Nan::imp::Factory<v8::Functio

[2020-03-27 15:11] agarret7 commented on #376
I accidentally closed the issue.

[2020-03-27 15:14] vidaaudrey commented on #376
Could you maybe try node v10.15.3 (the version I have at my Mac)?

[2020-03-27 15:19] agarret7 commented on #376
That worked. Perhaps worth opening another issue on compatibility with `nodejs: '>10.19.0'`?

[2020-03-27 15:20] vidaaudrey commented on #376
Yeah totally.

[2020-04-01 15:03] Shiming94 opened #390 "[feature request]Visualization Pose Array/Objects List in 3D Panel"
We intend to visualize the dynamical positions of detected objects from camera or radar. Usually the number of the member in the object array is not fixed, and the array is expressed in message type PoseArray. Is that possible to support the visualization of message type PoseArray in 3D Panel?

[2020-04-01 15:56] ubicray opened #391 "Changing to predefined layouts without reloading webviz"
So I'm trying to modify webviz to make it more touch interface friendly
One part is to have some predefined layouts that can be switched by tapping some buttons
So far what has worked for me is to use the importLayout in PlayerManager and basically add some other layouts than the demo one to load those layouts. But as it's taking URL parameters, it takes reloading to take into effect so that's not

[2020-04-01 18:05] janpaul123 commented on #390
It looks like we currently don't support that, but it might be easy to add around here https://github.com/cruise-automation/webviz/blob/a3fc95267f9eb68530cbb0da27a1eb912032ee71/packages/webviz-core/src/panels/ThreeDimensionalViz/SceneBuilder/index.js#L457 Feel free to take a shot at it if you want, we can help if you run into issues.

[2020-04-01 18:15] janpaul123 commented on #391
You should be able to call the `importPanelLayout` Redux action (which in `PlayerManager` appears to get renamed to `importLayout`) at any time to change the layout, without a reload. So you could call that action when clicking a button.

If you want to contribute this functionality back to Webviz, maybe it would be cool if one can add a `?preset-layouts=https://example.org/my-presets.json`, and t

[2020-04-02 08:49] Shiming94 commented on #390
Thank you very much. I will try it.

[2020-04-03 08:45] Shiming94 commented on #390
Hi, I have a further question. Can I also print the lane information in message type geomety_msgs/Polygon in 3D Panel, or I still need to add something?

Thank you very much.

[2020-04-06 11:14] Shiming94 commented on #390
Yes. I just want to print like the right/left lane boundaries and center line by Polygon.

[2020-04-06 13:49] Shiming94 commented on #390
Oh, Sorry, I think I find the solution. The message type Polygon can not be printed, but PolygonStamped can.  Thanks a lot.

[2020-04-06 21:55] jackma opened #392 "Transform lookup / Camera projection in Node Playground"
Hello, Webviz!

As far as I can tell, it looks like Node Playground doesn’t support TF lookups or camera projections out of the box. Do you have any advice on dealing with TFs and projections in Node Playground?

I also noticed Webviz has [support for transforms](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/ThreeDimensionalViz/Transforms.js). But it doesn

[2020-04-06 22:02] janpaul123 commented on #392
Oh hey Jack! 😄

Yeah, we currently don't offer any library support in Node Playground so you'd have to copy/paste some of those functions into your nodes yourself. We do have plans on adding library functions though. cc @troygibb @davidcrawford we should consider including TF lookups and camera projections when we add Node Playground libraries.

[2020-04-06 22:07] jackma commented on #392
Ah. Thanks for the consideration and ultrafast response!

[2020-04-09 18:26] janpaul123 commented on #374
This is in the latest release! #396 Thanks for the request!

[2020-04-09 18:26] #374 closed

[2020-04-09 18:26] janpaul123 commented on #373
This is in the latest release! #396 Thanks for the report!

[2020-04-09 18:26] #373 closed

[2020-04-09 18:26] janpaul123 commented on #323
A first version of this (the "Publish" panel) is in the latest release! #396 Thanks for the request!

[2020-04-09 18:26] #323 closed

[2020-04-09 18:27] janpaul123 commented on #361
This is in the latest release! #396 Thanks for the report!

[2020-04-09 18:27] #361 closed

[2020-04-09 18:30] janpaul123 commented on #379
I forgot to put this in the changelog, but this is in the latest release. #396 It should get deployed to our production application in a bit. Thanks for the request!

[2020-04-09 18:30] #379 closed

[2020-04-09 18:31] janpaul123 commented on #371
The "Publish" panel is in the `master` branch now. It should be pretty straightforward to extend it to support service calls; let me know if you need any help with that!

[2020-04-09 18:33] janpaul123 commented on #352
Charts are now plottted from a WebWorker, since #396. Let us know if you have any more suggestions. It would be helpful if you can share a bag that is slow to render for you, so we can have a look at it. For now I'm closing this ticket!

[2020-04-09 18:33] #352 closed

[2020-04-09 18:34] janpaul123 commented on #346
This should be fixed now since #396. You'll have to use the latest version of the rosbridge now. Let me know if you still have any issues!

[2020-04-09 18:34] #346 closed

[2020-04-09 18:36] janpaul123 commented on #341
Cool, that makes a lot of sense, thanks for sharing! As for the other issue, that should be fixed now (see the other thread). I'll leave this ticket here open in case other people try to use node v12 (we'll have to make it compatible at some point!).

[2020-04-09 18:38] janpaul123 commented on #324
Alright, cbor-raw has landed in webviz with #396, so this should be possible to do now, though still not super straightforward since panels don't yet have access to the raw binary data. We'll have to do that for some other optimizations soon though.

[2020-04-09 18:46] janpaul123 commented on #293
This should be fixed now in #396. Let me know if you still see this issue!

[2020-04-09 18:46] #293 closed

[2020-04-09 18:49] janpaul123 commented on #270
Cool, feel free to make a PR if you think it's stable enough now. 😄

[2020-04-09 18:52] janpaul123 commented on #162
I'm going through some old tickets to clean them up: indeed we currently only support the standard [`sensor_msgs/PointCloud2`](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/PointCloud2.html) message type for point clouds. So just convert the bag to use those and it should work. Let us know if you have any more issues!

[2020-04-09 18:52] #162 closed

[2020-04-11 18:51] cjds commented on #341
Did confirm does work with Node v10.20.0 as well

[2020-04-13 18:52] jasonimercer opened #398 "remote-bag will not play if remote-bag-url-2 points at an empty bag"
In our workflow we are trying to have the 2nd bag be planner diagnostic images but if the robot has not made a plan during the event that was recorded, Webviz will not let us look at the group of primary bag + empty secondary bag.

[2020-04-13 19:08] janpaul123 commented on #398
Weird, do you get some error message or so? In what way does it not work? Do you have example bags that we could reproduce with?

[2020-04-13 19:20] jasonimercer commented on #398
Yup, there is an error message (thanks for surfacing it so clearly):

[code]
[robot_ph_cpe22_60_FCA66B26_planner_image_2_webviz.bag.gz](https://github.com/cruise-automation/webviz/files/4471387/robot_ph_cpe22_60_FCA66B26_planner_image_2_webviz.bag.gz)

[2020-04-15 15:42] lhcubillos opened #400 "LCM support"
Hi! Are there any plans to extend WebViz to support LCM? (https://lcm-proj.github.io/). If not, do you have any advice on how to adapt the app to LCM? It works in a very similar way as ROS, and has the equivalent of ROSbags as well.

[2020-04-15 18:30] janpaul123 commented on #400
Currently not, and internally we're pretty tied to the binary format of ROS bags. Are there any conversion tools from their data format to ROS bags? That might be the easiest approach.

[2020-04-16 14:59] lhcubillos commented on #400
They don't have a native one, but it's probably not that big a challenge, so thank you for the advice! What about the live feed (not from rosbags)? Do you think it would be possible to adapt it to LCM? LCM works using UDP multicast, with no master node.

[2020-04-16 20:37] janpaul123 commented on #400
That might be a bit harder, but once you have some code to convert from LCM to the ROS message format it shouldn't be too hard. You could write a ROS node that subscribes to the LCM messages, converts them to ROS messages, and publishes them to a ROS master (ideally on different topics). Then you'd only have to boot that ROS node, a ROS master, and the rosbridge, and it should hopefully all work?

[2020-04-16 22:00] lhcubillos commented on #400
Thank you! That is a very good idea.

[2020-04-16 22:00] #400 closed

[2020-04-16 22:53] janpaul123 commented on #400
Cool, keep us posted on how it goes! Would be cool if we can link future people with the same problem to whatever you come up with. 😃

[2020-04-17 14:36] lhcubillos opened #402 "Plot panel not working on demo"
Hi! I'm trying to use Webviz to visualize information from an underwater ROV, but I'm having problems with the Plot panel: it is not actually plotting the data. I tried the demo, at https://webviz.io/app/?demo, and it doesn't work as well. I'm in macOS 10.15.3, and the Chrome version I'm using is `Version 80.0.3987.163 (Official Build) (64-bit)`. I attach a screenshot of the problem, using Incogni

[2020-04-17 14:41] lhcubillos commented on #402
I updated Chrome to `Version 81.0.4044.113` but the problem remains.

[2020-04-17 17:52] janpaul123 commented on #402
Thanks for letting us know, we totally missed this! https://github.com/cruise-automation/webviz/pull/399 should fix this, but is currently failing CI — @hassoncs is going to look into this today.

[2020-04-20 19:06] hassoncs commented on #402
@lhcubillos, this should be fixed now. Sorry that happen and thank you for reporting it!

[2020-04-20 19:07] #402 closed

[2020-04-20 19:18] lhcubillos commented on #402
I don't know if I am the problem now, but I still can't see the plotting happening in the demo.
<img width="1440" alt="Screen Shot 2020-04-20 at 15 16 24" src="https://user-images.githubusercontent.com/12566390/79790629-09801a00-831a-11ea-9c96-dc8f943026fd.png">

I tried erasing the cache and cookies, and working in Incognito, but to no success.

[2020-04-20 20:45] janpaul123 commented on #402
It took some time to build, but it looks good for me now, can you check again?

[2020-04-20 20:47] lhcubillos commented on #402
Now it's working! Thank you very much!

[2020-04-21 14:06] cjds commented on #314
Hey @janpaul123 any update on this?

[2020-04-21 14:59] ben-greenberg opened #406 "Run webviz from source build without launching docs page"
I've built webviz from source and have been using it with great success. The only kink in my system is that currently when I want to open up the webviz application in a browser, I have to run ```npm run docs``` which launches the docs app in addition to running the webviz application.

Is there another way to run just the application without launching the docs page?

[2020-04-22 18:01] janpaul123 commented on #314
Not yet!

[2020-04-22 18:02] janpaul123 commented on #406
You could host it online somewhere? We host webviz.io/app using Github Pages.

[2020-04-25 08:25] castaway2000 commented on #406
@janpaul123 I think what they are saying is that they would like to run the webviz App as landing page. Is there an easy way to implement the webviz-core package in a standard html page or modify the existing React application to point the landing page to be the webviz app?

I was also looking into doing this using the webviz-core package as a static website however it seems the webviz-core packag

[2020-04-25 12:17] tlgkyn06 opened #409 "How to add custom ros message to visualize"
Hi , I'm trying to visualize 3D world mapping with data that comes from my custom ros messages. I tried to trace the code; it seems I need to modify https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/types/Messages.js and https://github.com/cruise-automation/webviz/tree/master/packages/webviz-core/src/panels/ThreeDimensionalViz . Is there any guide for how to add ros

[2020-04-27 22:11] castaway2000 opened #410 "How to load a local bag file without dragging and dropping the file?"
Hello I am spinning up a server of my own that is connected to a GUI full of referenced bag files, I am using the service to click on the bag file and load it into webviz without needing to have the bag file on my laptop. How would I easily load a bag-file into webviz without having a rosbridge to stream it or a bagfile to drop into it? For example your demo uses a file stored in an s3 bucket, how

[2020-04-28 18:28] janpaul123 commented on #406
You can see here how we publish our [`gh-pages`](https://github.com/cruise-automation/webviz/tree/gh-pages) branch: https://github.com/cruise-automation/webviz/blob/6623f080b2bee11144df1bb70c2ac93db51a37fa/package.json#L135

You can also statically host the gh-pages branch directly yourself. It's what gets hosted on webviz.io. You can see that it has an `app/index.html` that contains the actual ap

[2020-04-28 18:30] janpaul123 commented on #409
I would recommend having a ROS node that converts your messages into one of the standard ROS message formats, which are the same as the message formats supported by rviz: https://github.com/cruise-automation/webviz/blob/6623f080b2bee11144df1bb70c2ac93db51a37fa/packages/webviz-core/src/panels/ThreeDimensionalViz/SceneBuilder/index.js#L450

[2020-04-28 18:31] janpaul123 commented on #406
Maybe we should pull that out into its own command so everyone can easily generate a static build? Happy to take PRs for that!

[2020-04-28 18:34] janpaul123 commented on #410
It should work with any server that supports range requests and CORS. We have some [instructions](https://github.com/cruise-automation/webviz/blob/6623f080b2bee11144df1bb70c2ac93db51a37fa/packages/webviz-core/src/util/corsError.js#L9-L36) for setting up S3 and GCS buckets, which might be helpful in learning how to configure your server. What particular server software do you use?

There's a thread

[2020-04-28 18:35] janpaul123 commented on #247
@NicolasBernard456 Someone is asking about something similar in #410; do you happen to have a config file that you could share with us here?

[2020-04-28 20:13] castaway2000 commented on #410
@janpaul123 this is really cool info, thank you for sharing! Is there a a same origin process for loading local bag files?

[2020-04-28 20:16] janpaul123 commented on #410
No for local bag files we get a [File handle](https://developer.mozilla.org/en-US/docs/Web/API/File), which gives us direct random access into the file. The `?remote-bag-url=…` option is substantially more complicated since it works over HTTP and we have to do all sorts of buffering ourselves.

[2020-04-28 20:18] janpaul123 commented on #410
I would recommend hosting your bag files in S3 or GCS though, instead of on your own server, because it's just so much easier to get working. Another option is to use sshfs or so to connect to your remote file system and drag in the files to Webviz that way. But yeah, if you really want to stream the files directly from your server, hopefully the stuff I linked above is helpful.

[2020-04-29 06:46] #409 closed

[2020-04-29 10:55] tlgkyn06 opened #411 "How to add vector map to webviz?"
Hi , so far default webviz met my needs but during 3D visualization I need vector map at the background of 3D World environment. What do you suggest?
Regards.

[2020-04-29 12:36] NicolasBernard456 commented on #247
Hello,
Very sorry for the late reply, I'm using python flask and cross origin. Those are the header that I used:
@cross_origin(origins = 'https://webviz.io', methods = ['GET', 'HEAD', 'OPTIONS'], expose_headers = ['ETag', 'Content-Type', 'Accept-Ranges', 'Content-Length', 'Range'], allow_headers = ['*'], send_wildcard = True, vary_header = True)

[2020-04-29 17:47] jasonimercer opened #412 "Loader splash image persists after remote bags load / webviz initializes (Related to Chrome Extensions)"
Some of our test team are having issues with the splash animation persisting

Running master from this morning.
Ubuntu 16.04
Chrome: Version 81.0.4044.113 (Official Build) (64-bit)

![image (1)](https://user-images.githubusercontent.com/12039018/80628693-bf84eb80-8a1f-11ea-9817-8fbe4798dde7.png)
![image (2)](https://user-images.githubusercontent.com/12039018/80628698-c1e74580-8a1f-11ea-944b-a0723b

[2020-04-29 18:06] janpaul123 commented on #411
If it's vector-based data, I'd use an [RViz marker](http://wiki.ros.org/rviz/DisplayTypes/Marker), and if it's a bitmap, there is `nav_msgs/OccupancyGrid`. You can make it a latching topic so it always appears immediately when you connect over the Websocket, though that currently doesn't work nicely with bags yet because of #314 (so for bags you'd need to repeat the topic every few hundred millise

[2020-04-29 18:08] janpaul123 commented on #247
No worries, and great, thanks for sharing! Btw, I'm trying to get to know our users better, so if you'd be interested in a quick call some time soon feel free to shoot me an email at jp.posma@getcruise.com :)

[2020-04-29 18:09] janpaul123 commented on #410
Cool, so looks like if you use Flask you can use this: https://github.com/cruise-automation/webviz/issues/247#issuecomment-621175154

[2020-04-29 18:19] janpaul123 commented on #412
Oof oh no! Any errors either in the browser console or in the top bar?

[2020-04-29 18:23] jasonimercer commented on #412
The console is showing

webpack-internal:///./node_modules/react-dom/cjs/react-dom.development.js:558 Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.

[2020-04-29 18:30] jasonimercer commented on #412
Seems 2 chrome extensions were running: LastPass and Toby. With both disabled the issue went away, I'll work on getting the steps to reproduce on a fresh machine, forward the info along and you can decide if it's something that should be fixed, documented or ignored for now.

[2020-04-29 18:33] janpaul123 commented on #412
Ooh funky, yeah browser extensions can do strange things. Also be sure to check out #407 — we'll merge that soon once we've fixed the screenshot tests, but it contains a bunch of bugfixes and such.

[2020-04-29 18:37] jasonimercer commented on #412
OK, I couldn't reproduce the issue reported. We'll add the reminder about extensions to our internal pages for WebViz.

Since I can't reproduce and we have a workaround for the people who reported this, I'm happy to have this closed and chalk it up to "spooky extension stuff".

[2020-04-29 18:38] jasonimercer commented on #412
407 Looks great! Can't wait to update :)

[2020-04-29 18:43] janpaul123 commented on #412
Sounds good; I'll close this out then!

[2020-04-29 18:43] #412 closed

[2020-04-30 22:35] defied opened #414 "How to parse and view a vector-based msg"
Today, I tried to load a sensor_msg JointState -based topic and it appears I can not read in an array, or even separate portions of the array. Is this posible at the moment, and if not, will there be plans for it in the future?

[2020-05-02 00:16] janpaul123 commented on #414
Not entirely sure what you mean. Do you want to visualize that message in the 3d panel? Or in some other panel?

[2020-05-05 03:37] kevinrev26 commented on #406
What if I wanted to use the individual components of the WebViz Core?

How should I import them?

[2020-05-05 17:58] janpaul123 commented on #406
We don't currently support that. Those are considered internal API and might change heavily on every release. But if you really want to I guess you can just `import` them like any other component; e.g. `import useDataSourceInfo from "webviz-core/src/PanelAPI/useDataSourceInfo";`

[2020-05-05 23:13] janpaul123 commented on #402
@lhcubillos I've been reaching out to Webviz users to get to know the community better, and I'd love to learn more about the underwater robots that you use Webviz for. Would you be open to do a quick video call with me some time? If so, can you email me at jp.posma@getcruise.com? 😃

[2020-05-08 03:46] BrodieBirko opened #421 "Load RobotModel into ROS 3D panel"
I am wanting to view my RobotModel in webviz and have the models correspond to joints like they do using urdf's in RVIZ. Is there currently any support for something similar to this?

There is a [Cruise video](https://youtu.be/_3_Bb-dlq0Q?t=1143) showing a ROS 3D panel with a car model and pointcloud/mapping data, this is in the general direction I want to be heading. Could you share any informati

[2020-05-08 06:53] zwmisdu commented on #421
Similarly, I am looking forward to the result of 3d presentation in the video ! And i  notice that the author use a bag named cruise.bag, how could we get it ? About the way to realize the 3d result, I believe that we should learn sth about WORLDVIEW.
Now, I want to get the cruise.bag to learn more in detail.

[2020-05-08 07:09] zwmisdu opened #422 "About the dataset cruise.bag!"
Hey, I really appreciate your excellent project.From youtube and ROScon2019, I have both viewed your demo during the presentation.And I can use webviz on my device and see the same result by play demo.bag. For further, I would like to realize the 3d rendering just like you showed in the demo :the car is a 3d model and the road is more like the real environment and so on. I notice that you used a b

[2020-05-08 20:20] janpaul123 commented on #421
@BrodieBirko unfortunately the Cruise car model is currently hardcoded into Webviz; we don't currently support loading arbitrary models.

@zwmisdu That's a proprietary Cruise bag which we can't share, but we have a Webviz demo here: https://webviz.io/app/?demo which uses this bag: https://open-source-webviz-ui.s3.amazonaws.com/demo.bag

[2020-05-08 20:24] janpaul123 commented on #422
Hi, I saw you also posted a comment here about the bag file which I answered: https://github.com/cruise-automation/webviz/issues/421#issuecomment-626001381

For the map you can use nav_msgs/OccupancyGrid; see e.g. how that works in RViz here: http://wiki.ros.org/rviz/DisplayTypes/Map (it works similarly in Webviz).

If you check out the repo and then run `npm run bootstrap && npm run build && npm

[2020-05-09 01:32] zwmisdu commented on #422
Thanks for your quick reply.I have used Rviz expertly so I know how to display the map on it and also have successfully run a local server with my own data. Above all, I think that the map is too plain to show it to others. From your video at ROScon2019, I find a fancy map  which is quite similar with the realworld, we can see the road and zebra stripes aside with the 3d model of the car.And from

[2020-05-09 02:05] janpaul123 commented on #422
Our map was constructed from lidar data by special mapping vehicles, and is currently proprietary, unfortunately. It would be cool to one day support loading map tiles from Mapbox or so though!

Adding your own car model is currently not supported, though if you want to fork Webviz yourself you could replace our car model in this directory: https://github.com/cruise-automation/webviz/tree/1c5cfa78

[2020-05-09 02:27] zwmisdu commented on #422
Okay, get it! Thanks again.

[2020-05-09 05:32] zwmisdu commented on #422
![webviz4](https://user-images.githubusercontent.com/37363606/81465039-7e4bc300-91f9-11ea-869e-fadc564b6169.png)

[2020-05-09 06:17] zwmisdu commented on #422
![webviz3](https://user-images.githubusercontent.com/37363606/81465501-1a2afe00-91fd-11ea-9ba2-f9687aa36c81.png)

Hey! I just watch the video on youtube [https://www.youtube.com/watch?v=_3_Bb-dlq0Q](url)agian. And when you show the demo at 17:50 in the video, I see several options on the  top left corner of the page  just like the topic to be chosen in Rviz ,including Map、Car、Localization ……
So, I

[2020-05-09 21:03] bumblebeerobotics opened #423 "webviz won't connect to robot?"
Hello I'm, trying to use WebViz for a project and I'm not sure what is going on/why it is not working.

I have a remote websocket running for my ROS robot at ws://192.168.1.24:9090 and I changed the ports and URL and everything so I ran https://webviz.io/app/?rosbridge-websocket-url=ws://192.168.1.24:9090/ in the web browser.

And I went to google chrome settings and changed the settings to allow

[2020-05-09 22:00] jtbandes commented on #423
What errors are you seeing?

[2020-05-09 23:54] bumblebeerobotics commented on #423
I'm not seeing any errors which is why I'm confused. When I tried to connect to this web-socket using ROSWEB it connected fine and I was able to get data out of the system. And then if I look on my robot itself the rosbridge outputs to /rosout "one client connected." or something similar

I went to webviz and put in the same ws url, and /rosout showed no message that there was a client connected?

[2020-05-09 23:55] bumblebeerobotics commented on #423
For reference: this works: https://github.com/EESC-LabRoM/rosweb

[2020-05-10 00:10] bumblebeerobotics commented on #423
For a little more information: I brought up a Raw Messages panel on the webviz and typed /joy to see the raw messages for /joy that's what I started with trying (my bigger issue is that I don't see the client connected though as I described above)

[2020-05-10 21:24] BrodieBirko commented on #421
Sweet, that answers my questions.

[2020-05-10 21:24] #421 closed

[2020-05-11 12:23] zwmisdu commented on #422
@janpaul123

[2020-05-11 17:15] janpaul123 commented on #423
What version of `rosbridge_server` are you running?

[2020-05-11 17:23] janpaul123 commented on #422
Ah in the open source version we don't have those categorizations currently, but we render topics in the same way there. So just enable the topics that you want to see. In the future we'd like to make it so you can make your own categorizations like "Lidar" and such.

And in our internal version we render the map in a different way (using a tile server), but you should be able to get a similar eff

[2020-05-11 22:25] bumblebeerobotics commented on #423
I just went here: http://wiki.ros.org/rosbridge_suite/Tutorials/RunningRosbridge and did sudo apt install ros-melodic-rosbridge-suite ... does that give me the latest version? How would I check?

[2020-05-11 22:55] janpaul123 commented on #423
You can check by running `apt policy ros-melodic-rosbridge-server`. Which version gets installed when you run `apt install` depends on a bunch of things.

[2020-05-11 23:01] bumblebeerobotics commented on #423
<img width="588" alt="Screen Shot 2020-05-11 at 7 00 32 PM" src="https://user-images.githubusercontent.com/46380543/81620397-bef23a80-93b9-11ea-895c-638899f339f6.png">

Here is the version (I think it's 0.11.5-1bionic.20200413.152945). Thanks for the info :)

[2020-05-11 23:10] janpaul123 commented on #423
Hm, that version should be fine. 0.11.6 is the latest, but 0.11.5 should work. Could you maybe record a video of what's happening? If we can't figure it out from that, I might be able to set you up with a screenshare with someone on our team.

[2020-05-12 00:02] bumblebeerobotics commented on #423
Hey! Here's a link to the video I recorded, I'm ssh'ed into the robot from VS Code and then the google Chrome is on my macbook.

https://www.adim.io/post/chip-updates-websocket-won-t-work-updates

[2020-05-12 00:03] bumblebeerobotics commented on #423
let me know if you need more information?

[2020-05-12 00:31] janpaul123 commented on #423
Hm not sure, can you email me at jp.posma@getcruise.com and we can do a screen share.

[2020-05-12 15:20] flynneva commented on #423
try passing the devices IP address to the rosbridge_webserver. it looks like right now you're just [passing in the default which is `localhost`](https://answers.ros.org/question/250959/connecting-different-computers-via-rosbridge/).

also, look into these other topics which seem similiar:
- [wss support](https://github.com/RobotWebTools/rosbridge_suite/issues/232)
- [wss support 2](https://github.

[2020-05-12 15:30] flynneva opened #427 "[feature request] turn webviz-core into a react component library"
hey webviz!

I've been diving into how to add ROS connectivity to [my personal website](https://flynnlabs.dev) and I keep coming back to this idea of turning the webviz-core package into its own react component library. I think this is something that a lot of people would love to do and relates sort of to other requests of building their own 'webviz-like' site. I've gone ahead and made a simple on

[2020-05-12 17:27] bumblebeerobotics commented on #423
I'll definitely try adding the IP to rosbridge_webserver, but I also enabled "use unsafe scripts" for webviz on chrome will that not fix the security issue with https?

[2020-05-12 17:30] bumblebeerobotics commented on #423
Are you saying I need to do : https://answers.ros.org/question/198647/rosbridge-websocket-ssl-connection-aborted/ kind of stuff to setup ssl?

[2020-05-12 17:51] janpaul123 commented on #427
Yeah this is a long time dream, but it would be a ton of work, plus it would make it much harder for us to keep developing Webviz because we'd have to be extremely careful about changes potentially breaking other projects. And we still have a number of big architectural changes that we want to make that would be really slowed down by that. So we don't want to do this right now, but if you want to

[2020-05-12 20:25] flynneva commented on #427
what big architectural changes are you talking about? :) interested to learn where webviz is heading!

I really have hardly any experience with react so i'll just keep poking around and learning. Most likely by the time I'd learn enough to try and do something like this on my own you guys will have already done it.

[2020-05-12 20:28] flynneva commented on #423
my comment above was just providing some comments on where I think the issue is. since all we have is just a video to debug from and its not entirely clear what the issue is, I cant really say what will solve your problem.

[2020-05-12 21:40] bumblebeerobotics commented on #423
thanks for the info :) I was just wondering if saying my robot was running a jetson tx1 does that change anything? realized I haven't mentioned that and that I know they're kinda weird.

[2020-05-12 21:51] flynneva commented on #423
a good way to test if this is the issue is to try webviz from the device directly from the device.
can you connect the jetson tx1 to a monitor and open a browser with webviz there?

[2020-05-12 21:56] flynneva commented on #423
I know this kind of defeats the purpose of what you are trying to do...but a good debug step would be to test webviz locally on the jetson tx1 (if you can hook it up to a monitor & get a browser open). if that works, then it most likely is an issue with the security (https vs http) as linked above.

[2020-05-12 22:13] bumblebeerobotics commented on #423
Ah. This was a good suggestion! I did hook it up and run a local test and it does work locally so I think you're right on the ssl permissions side. I'm speaking with JP in a few minutes and I think we'll come up with a solve - if not I'll re-post here if we do, I'll close the issue :) Thanks so much for your help.

[2020-05-12 22:32] bumblebeerobotics commented on #423
JP called me and we fixed the problem - thank you so much t of both of you - it was lovely meeting you guys!

[2020-05-12 22:32] #423 closed

[2020-05-12 22:36] janpaul123 commented on #423
For future reference, we had to do this:

![](https://raw.githubusercontent.com/cruise-automation/webviz/ccd6acc801d333310c2c13e1ae113867f17df699/packages/webviz-core/src/components/WssErrorModal.png)

A modal with this image + some instructions should have been shown though, so that's a bug that I'll have to look into. Nice meeting you too Adi!

[2020-05-12 22:43] janpaul123 commented on #427
We want panels to be able to show buffered data without being tied to the current playback position. E.g. you could imagine the Plot panel just showing the entire bag's worth of data, instead of accumulating when playing back. Or in the 3d panel you might want to plot some topics into the future, and then scrub back and forth, etc.

Also, we want to be able to gather messages over the websocket in

[2020-05-13 01:21] bumblebeerobotics opened #430 "[feature request] IMU Visualization using sensor_msgs.imu"
Hey all - just submitting this for tracking purposes. Was playing with WebViz today and was looking at a new feature idea:

"See most legged robot and aerial robots have the long-range wifi data transmission and stuff to be able to use webviz as a platform for debugging, but both of these platforms rely heavily on IMUs and specifically the orientation of the IMU for control. I think a feature (may

[2020-05-13 01:26] bumblebeerobotics opened #431 "[feature request] GPS Data Visualization on Map using ~sensor_msgs/NavSatFix"
Hey all - another suggested feature for you:

Something cool on some of the old web visualization tools for ROS was the ability to select a sensor_msgs/NavSatFix message (GPS global coordinates) and visualize that on a map background. Something like that could be good for debugging GPS data and also, even, if you want to make a custom "Ground Control Station" or something.

http://wiki.ros.org/gps

[2020-05-13 18:20] janpaul123 commented on #430
Great idea! If anyone wants to take this on, this should be relatively straightforward to add by doing something similar to our support for the Pose message here: https://github.com/cruise-automation/webviz/blob/deae0a7bced6829c55682354c9f40fc2cb79da28/packages/webviz-core/src/panels/ThreeDimensionalViz/SceneBuilder/index.js#L457-L460

[2020-05-13 18:25] janpaul123 commented on #431
Good idea. Seems best to put it in the 3d panel, though we'd have to figure out how to pull in map tiles in the right coordinate frame and not when using a local coordinate frame.

[2020-05-13 18:41] bumblebeerobotics commented on #430
To whoever does end up working on this :) - I did look around at some things on visualizing came up with this:

<img width="735" alt="Screen Shot 2020-05-13 at 2 37 15 PM" src="https://user-images.githubusercontent.com/46380543/81851325-44472d80-9527-11ea-8039-5f315de7fb1d.png">

So for this, I made a ROS node that takes in the IMU data and re-publishes another /tf between the base_link of the rob

[2020-05-13 18:46] bumblebeerobotics commented on #430
this is kinda weird because usually base_link would move with the IMU it wouldn't stay fixed...

[2020-05-18 17:08] xiaodongzhao opened #436 "How to add custom Image command into ThreeDimensionalViz?"
Hi,
Is it possible to add a custom command into ThreeDimensionalViz?
I would like to display map images in ThreeDimensionalViz, for example, using the code from
https://github.com/cruise-automation/webviz/issues/225.

Is it possible to do so? what are the steps needed? Thanks

[2020-05-18 17:27] janpaul123 commented on #436
This is not officially supported, for maps I'd recommend using [OccupancyGrid](http://docs.ros.org/api/nav_msgs/html/msg/OccupancyGrid.html). We'd like to support this in the future though. But of course you can always fork our repo and attempt to do it manually, but that's not straightforward.

[2020-05-18 17:29] vidaaudrey commented on #436
If you have some marker format that are not currently supported, you could add it to `renderAdditionalMarkers` hook and apply your custom command:

https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/ThreeDimensionalViz/World.js#L128-L130

[2020-05-18 21:37] xiaodongzhao commented on #436
Thanks @janpaul123 and @vidaaudrey , OccupancyGrid is a good solution, however we need to display coloured image maps. Do you have other suggestions for displaying colour images? I tried using PointCloud as well, but it didn’t scale when zoomed.

[2020-05-18 21:51] janpaul123 commented on #436
That's a great idea. I don't think we currently support that. Our reference implementation for the 3d panel is RViz, do you happen to know if this is possible there? I could only find it as a custom plugin: https://github.com/lucasw/rviz_textured_quads/tree/image_topic and it's not entirely clear what kind of message definition they use.

[2020-05-19 08:31] xiaodongzhao commented on #436
It seems https://github.com/lucasw/rviz_textured_quads/tree/image_topic is using Image and TF frame, while the original (https://github.com/MohitShridhar/rviz_textured_quads) is using a customized message. I don't think RViz supports display images in the 3D scene.

[2020-05-19 18:00] janpaul123 commented on #436
Interesting; yeah you can position the image using the `frame_id`, but I don't think there's enough information in those messages right now to know what the width and height in 3d-space should be? I wonder how they do that; maybe they let you just manually configure that? A customized message might be better if you want to control those dimensions programatically.

In any case, we don't have plans

[2020-05-26 02:48] azuremeteor opened #440 "How to use 2DPlot panel"
I have a set of coordinate point X, Y point want to plot on graph so i tried to use 2DPlot panel.
I saw the example require a message type is webviz_msgs/2DPlotMsg. But I cannot found this msg type, so I created a package call webviz_msgs and a msg type 2DPlotMsg in python.
But due to "2DPlotMsg" is start with a number so I cannot import it other script and rosbrige server to use.

May I know how

[2020-05-26 07:30] yyuuliang opened #441 "lines drawing: TypeError: Cannot read property 'length' of undefined"
when i use the following code to draw a line, it throws an error:
TypeError: Cannot read property 'length' of undefined
The code works in the online editor, but it will throw an exception on my local machine.

`function Example() {

  const roadmaker = [
    {
        primitive: "lines",
        scale:{x:5},
        scaleInvariant: true,
        closed:true,

       pose:{
         position: { x:

[2020-05-26 07:39] #441 closed

[2020-05-26 17:29] esthersweon commented on #440
Hey there,

The datatype field is actually not required - it is specified in the docs, just to denote that the message must be in a specific format to be consumed by the 2D Plot.

As long as your message looks something like the example message below, it should be able to be visualized in the panel.

[code]

[2020-05-26 23:06] Shiming94 opened #442 "Error when conneting to rosbridge after running static-webviz"
After building the dependencies and running `npm run serve-static-webviz`, then typing http://localhost:8080/ in Chrome, it can directly lead to the application page, rather than run http://localhost:8080/app one more time as before. But if I run rosbridge afterwards, the application page will throw an error out. The details are shown in the following screenshot.
![Screenshot from 2020-05-27 00-38

[2020-05-27 21:28] janpaul123 commented on #442
Hm, interesting, I can't reproduce. Do you get the same error if you use `docker run -p 8080:8080 cruise/webviz` instead of `npm run serve-static-webviz`?

I think I've seen this error before though, but I forgot in which context. I'll do a release from our internal repo to see if that helps.

[2020-05-27 23:36] janpaul123 commented on #442
Ok I updated `master` with our latest code changes (https://github.com/cruise-automation/webviz/pull/443), can you pull and try again and see what happens?

[2020-05-28 09:47] ZhengPan2014 opened #444 "unable to show tf tree in 3D panel."
as showed below, right part is rqt tf which indicates tf is good, left part is webviz, tf is not available, How to fix it?
![image](https://user-images.githubusercontent.com/15884732/83125655-67b6ce80-a10a-11ea-90fd-7503de14990d.png)

[2020-05-28 13:03] Shiming94 commented on #442
Hi, thanks a lot. I have tried the newest code. But it didn't work The error is same. At first I ran `docker run -p 8080:8080 cruise/webviz`, it will work. But if I ran `npm run serve-static-webviz` once, the localhost:8080 is occupied, and docker will also not work.

[2020-05-28 17:26] janpaul123 commented on #442
Yeah you can't run them at the same time. But so you're saying that the Docker version did work? What about https://webviz.io/app, does that work? If you're running the new code, can you try checking out a fresh repo (throw away the old repo), and going through all these steps again: https://github.com/cruise-automation/webviz#building-manually

[2020-05-28 17:28] janpaul123 commented on #444
Do you have a bag that you can share for us to reproduce?

@vidaaudrey @davidswinegar maybe this is a bug with the new topic picker, can you follow up when we have a bag?

[2020-05-28 18:43] vidaaudrey commented on #444
Will do once @ZhengPan2014  have a bag for us to test.

[2020-05-29 02:02] ZhengPan2014 commented on #444
Yes, bag is available [here](https://pan.baidu.com/s/1zy6joV5yTtPYz3EAhv3dKw), access code is: xrx6.

[2020-05-29 17:26] vidaaudrey commented on #444
Looks like a bug. Will investigate and try to fix today.

[2020-05-30 03:14] vidaaudrey commented on #444
@ZhengPan2014 The problem is fixed now. Please let us know if you see any other issues.
![image](https://user-images.githubusercontent.com/10999093/83318357-f0a43780-a1e8-11ea-9ef1-5d1efa3901a3.png)

[2020-05-30 03:14] #444 closed

[2020-06-01 21:16] srsidd commented on #421
Is this feature on the roadmap? (Loading any robot model from the urdf?)

[2020-06-01 21:19] janpaul123 commented on #421
Currently not, but happy to take contributions!

[2020-06-02 18:43] janpaul123 commented on #442
We think we've identified the issue and will be issuing a patch soon. The issue is in the layout migration code. For now can you run `localStorage.clear()` in the browser console, to clear out your layout, and tell me if that helped?

[2020-06-03 08:52] Shiming94 commented on #442
Hi Jan, I have pulled the latest webviz from github and it seems that the connection problem is solved. Thanks a lot. And then I meet another problem: in the 3D Panel I want to visualize a message in type PoseStamp, at first the message is visualized as a cylinder, then I choose "Use 3D Model" and the message disappears. Do you know what is the reason of it?

[2020-06-03 18:09] janpaul123 commented on #442
Hm, for me that seems to work:

<img width="939" alt="Screen Shot 2020-06-03 at 10 48 31 AM" src="https://user-images.githubusercontent.com/177461/83670308-cf946b80-a587-11ea-955e-36c48b84cc1d.png">

However, be aware that that option currently only supports setting a Cruise car, so it's probably not very useful for you. We only really support the cylinder right now, though you can modify the dime

[2020-06-08 10:03] chenguoxi1987 commented on #442
Hi,I still have an error as below when I run "docker run -p 8080:8080 cruise/webviz" and  "roslaunch rosbridge_server rosbridge_websocket.launch“:

[ERROR] [1591610444.208615]: [Client 0] [id: call_service:/rosapi/topics_and_raw_types:1] call_service InvalidServiceException: Service /rosapi/topics_and_raw_types does not exist

![error](https://user-images.githubusercontent.com/35249702/84018067-31

[2020-06-08 17:20] janpaul123 commented on #442
Ah, that usually means that you're running an old version of the `rosbridge_server`. Can you check which version you're running? We require 0.11.4 or later.

[2020-06-09 01:15] janpaul123 commented on #442
Btw I set up a Slack workspace to make it easier for us to chat;  email me at jp.posma@getcruise.com and I'll invite you 😄

[2020-06-09 01:27] chenguoxi1987 commented on #442
I check my rosbridge_server veision, and it's 0.11.8.

[2020-06-09 01:56] janpaul123 opened #461 "Slack invite link"
Since Slack invite links expire after 30 days, I figured we can just post them here whenever it's needed.

[2020-06-09 01:56] #461 closed

[2020-06-09 01:56] janpaul123 commented on #461
https://join.slack.com/t/webvizchat/shared_invite/zt-evd6yzee-MmfUfe_hRvf~t9HBPpKkdQ

[2020-06-09 01:57] janpaul123 commented on #440
Btw I set up a Slack workspace to make it easier for us to chat; join us using the link here: #461

[2020-06-09 01:58] janpaul123 commented on #436
Btw I set up a Slack workspace to make it easier for us to chat; join us using the link here: #461

[2020-06-09 01:58] janpaul123 commented on #422
Btw I set up a Slack workspace to make it easier for us to chat; join us using the link here: #461

[2020-06-09 01:58] janpaul123 commented on #414
Btw I set up a Slack workspace to make it easier for us to chat; join us using the link here: #461

[2020-06-09 01:59] janpaul123 commented on #406
Btw I set up a Slack workspace to make it easier for us to chat; join us using the link here: #461

[2020-06-09 01:59] janpaul123 commented on #392
Btw I set up a Slack workspace to make it easier for us to chat; join us using the link here: #461

[2020-06-09 02:28] chenguoxi1987 commented on #442
I updata my rosbrige_server version from 0.11.3 to 0.11.8, but I receive the same error.
[Client 1] [id: call_service:/rosapi/topics_and_raw_types:266] call_service InvalidServiceException: Service /rosapi/topics_and_raw_types does not exist

[2020-06-10 13:51] galbra92 opened #463 "Plot panel doesn't have a "Buffer size" selection as it has in plotjuggler"
Hey, cool tool have here.

In Plotjuggler, we could select a window buffer for plotting our data, something like that:
![Screenshot from 2020-06-10 16-46-34](https://user-images.githubusercontent.com/54571943/84275831-35f62c80-ab3a-11ea-9a43-a2f5149dc9fa.jpg)

## Yet in webviz we cant, why?
Or am I missing it? - If so, could you point me to the right direction?

Thanks anyway.
Gal

[2020-06-11 22:22] janpaul123 commented on #463
Ah yeah, someone asked for this in an earlier ticket too! One question: do you mainly need this when using the websocket, to prevent loading in too much data? cc @MatthewSteel maybe we can sneak this in as a setting in the panel settings menu? 😄

If you're mainly playing bags, then you might want to try this new experimental feature: top-right "Config" menu -> "Experimental Features" -> "Preloadin

[2020-06-11 22:22] janpaul123 commented on #463
Oh and also be sure to join our Slack channel to make it easier to chat if necessary! https://github.com/cruise-automation/webviz#slack

[2020-06-14 05:23] #410 closed

[2020-06-17 08:50] sneakyc4k3 opened #466 "How to connect robot in Gazebo to WebViz"
Could I connect a virtual robot such as the turtlebot in Gazebo to WebViz using WebSocketServer? If yes, how?

[2020-06-17 17:00] janpaul123 commented on #466
Yes, if you can get a rosbridge_server to work, then you can connect to it with Webviz. I don't know how to set that up with Gazebo though, might be worth asking the [rosbridge people](https://github.com/RobotWebTools/rosbridge_suite/). Also feel free to join our [Slack channel](https://github.com/cruise-automation/webviz#slack).

[2020-06-18 03:44] cjds commented on #314
Any updates on this?

[2020-06-18 09:10] sneakyc4k3 commented on #466
Yes, I know how to connect Gazebo to rosbridge. However I do not know how to use Webviz to connect Webviz to rosbridge_server.

[2020-06-18 16:08] janpaul123 commented on #466
Ah — we have a help page that is accessible in the app by clicking on the question mark in the top right. It explains a bit on how to configure the Websocket URL:

So yeah, typically you can take a URL like this: `https://webviz.io/app/?rosbridge-websocket-url=ws://localhost:4321` and replace `localhost` by the hostname or IP address of your ROS machine (if it's a remote one), and `4321` by the po

[2020-06-18 16:10] janpaul123 commented on #466
By the way, it might be necessary to click on a "Load unsafe scripts" button if the websocket server is in non-SSL mode. We should show a popup in that case that has this image in it:

![](https://raw.githubusercontent.com/cruise-automation/webviz/cc29b63dafd47d81bf97743942e78445d075b4e3/packages/webviz-core/src/components/WssErrorModal.png)

But I've seen a bug before where that popup doesn't sho

[2020-06-18 16:21] janpaul123 commented on #314
A workaround for you could be to republish the latched topics at a regular interval. Not a great solution but maybe that can help for now?

[2020-06-18 16:28] cjds commented on #314
That's actually interesting. So make a "node" that listens to those topics?

[2020-06-18 16:45] janpaul123 commented on #314
Btw we also have a Slack workspace now if you want to talk to us more easily:  https://github.com/cruise-automation/webviz/issues/461

[2020-06-22 22:56] rawanbadr opened #469 "Can't visualize lidar data on Webviz"
I am running webviz locally and i am playing the rosbag in the background in order to visualize it.The image data is working perfectly after selecting the topic but the lidar data is giving the following error in the picture ,any help please?
![WhatsApp Image 2020-06-23 at 12 37 48 AM](https://user-images.githubusercontent.com/47105825/85343102-520bad80-b4ec-11ea-8550-29d793f82231.jpeg)

[2020-06-22 23:03] janpaul123 commented on #469
You might have to select a different root TF in the top right.
<img width="146" alt="Screen Shot 2020-06-22 at 4 02 44 PM" src="https://user-images.githubusercontent.com/177461/85343491-d2f18780-b4a1-11ea-81ef-ac56ba1bb914.png">

Also feel free to join us on Slack: #461.

[2020-06-23 01:00] rawanbadr commented on #469
i still do have the same issue

[2020-06-23 16:31] Xia0ben commented on #442
Hello there,
Was trying to get webviz up and runnin' on our robot today, but got the same error on the rosbridge end :

[2020-06-23 17:13] vidaaudrey commented on #469
@rawanbadr Could you record a sample bag and share with us?

[2020-06-23 18:52] janpaul123 commented on #442
@Xia0ben we chatted more in Slack, and it looks like perhaps something went wrong in the upgrade, because on another computer @chenguoxi1987 did get it to work. So I'd still recommend upgrading to 0.11.8.

I'll add a note to the readme about the version that we test against!

[2020-06-23 19:02] janpaul123 commented on #469
@vidaaudrey we're chatting with them on Slack!

[2020-06-24 08:40] Xia0ben commented on #442
Hi !
Thanks for the fast reply, I'll give it a spin probably next week !

[2020-06-28 06:40] galbra-rnd commented on #463
# Hey!
Thanks for the reply.

We use `webviz` via rosbridge, so when playing a bag, or subscribing to real topics, new data is being concatenated to the received data since time 0, thus after few minutes, the graph on `webziv` become unuseful, because it shows data from the beginning, while we are interested ar the most recent data received.

Hence a `buffer` feature will be perfect.

[2020-06-28 09:45] sneakyc4k3 commented on #466
Hi- I've managed to connect the websocket to Webviz but nothing is showing up! Also, I'm not receiving the popup.
![Screenshot from 2020-06-28 17-44-46](https://user-images.githubusercontent.com/38975777/85944146-32024100-b967-11ea-9722-9c3f7be68e29.png)

[2020-06-29 17:04] janpaul123 commented on #466
Looks like stuff is appearing on /rosout at least. You might want to try opening the Raw Messages panel to look at your topics and if they look like what you expect. The 3d panel only works with RViz markers (and some other messages types like Pose.

[2020-06-29 17:44] janpaul123 commented on #463
Yes, this is still on our radar! cc @MatthewSteel when implementing the "width in seconds" field, perhaps we can use that to also discard old messages in the frame-based plotting? (The long term fix will be a proper websocket blocks buffer, but that's at least several weeks out…)

[2020-06-30 08:02] sneakyc4k3 commented on #466
How do I add Rviz markers?

[2020-06-30 16:36] janpaul123 commented on #466
I'd recommend getting RViz to work first and to use their guides. Once you have RViz markers working within RViz, you can click in the top left button of a 3d panel and enable those markers. You might also have to click on the little arrow in the right menu to select which TF you're following.

[2020-07-02 10:54] meyerjo opened #471 "Custom panel is slow on first render"
Hi,I created a custom panel in order to visualize some data from ROS in a more convenient way. However, I am struggling with the problem that at first render the framerate drops significantly when I am including the panel. Once the ros bag is replayed everything seems to be fine and the bag is replayed without any lag.
I tried to get some inspiration from how ``RawMessages/index.js`` is implemente

[2020-07-02 12:14] sneakyc4k3 commented on #466
Meaning I have to run Rviz and Gazebo before running WebViz ?

[2020-07-02 17:35] janpaul123 commented on #466
Yeah I'd recommend trying to get it to work with RViz first. Webviz' 3d panel is supposed to be compatible with RViz, so if it works in RViz, then it should work in Webviz. If it then still doesn't work in Webviz, then it might be a bug.

[2020-07-02 20:33] troygibb commented on #471
Hi @meyerjo! One thing you could try is to move down the `positionData` declaration into the body of the `RosmapPanel` component. Generally you never use/update global variables in React.

[code]

There are ways to optimize this bit as well I could help you out with. But try this out first to see if that helps things!

Also if you're able to share a bag for this example, that would help debugging

[2020-07-03 08:37] sneakyc4k3 commented on #466
I managed to get the map from Rviz to show in Webviz. Is there a way that the turtlebot could also be displayed there? As right now only the turtlebot's links (different parts) are being displayed.
![Screenshot from 2020-07-03 16-36-37](https://user-images.githubusercontent.com/38975777/86450009-83d20f00-bd4b-11ea-8d89-22af7efb076d.png)

[2020-07-06 19:02] janpaul123 commented on #466
Yeah, you'd have to publish an [RViz marker](http://wiki.ros.org/rviz/DisplayTypes/Marker) to represent the turtlebot. We also support `geometry_msgs/Pose`. Here's a current list of the message types that we support in the 3d panel: https://github.com/cruise-automation/webviz/blob/ed49a4c1757c3b6efa8f5d6e862333534453bf61/packages/webviz-core/src/hooksImporter.js#L86

[2020-07-09 14:56] meyerjo commented on #471
Thanks for the quick reply. For debugging the panel I used the demo rosbag https://open-source-webviz-ui.s3.amazonaws.com/demo.bag , with that I am still experiencing the same problem. I also tried to stream from a local rosbag file in this case the performance issue is not that drastic.

However, when streaming from the local rosbridge I encounter the problem that my memory is overflowing and the

[2020-07-10 17:52] janpaul123 commented on #471
It sounds like there's just an overflow of messages. Maybe create a topic that is a throttled version of this topic, e.g. one that only emits a message every 100ms or so?

[2020-07-13 13:53] PatrickQianKun opened #473 "Hi，how can i integrate the HD Map in the 3D panel like you guys did in the demo, any idea for this, many thanks !"

[2020-07-13 18:58] janpaul123 commented on #473
Currently we don't have an official API for this, so feel free to hack it in for yourself, but just know that right now that's unsupported.

[2020-07-21 21:14] codegrafix opened #478 "http access from remote machines"
Hi,

I have been using webviz with Docker for a while now and it works perfectly to visualize all my C++ roses nodes. Thanks a lot for that!

Now I want to give remote access to webviz on my computer from any computer in the local network.
But I could not find any information about how to configure or how to grant permissions to remote computers.

Could you please share some information about this

[2020-07-22 18:05] hassoncs commented on #478
Hi @codegrafix,

I'm glad webviz is working well for you! In order to access webviz from other computers, you might need update the docker configuration in order to forward (or expose) the webviz port (usually using the `-p` flag). You might need to adjust your computer's firewall rules as well. Are you using IP address and port to connect to the computer running webviz?

Here's an article on Dock

[2020-07-22 18:07] hassoncs commented on #478
Also, feel free to join our Slack channel to get your questions answered quicker and to chat with other Webviz users: https://github.com/cruise-automation/webviz#slack

[2020-07-22 22:51] codegrafix commented on #478
Hi @hassoncs,

You were right, I had some problems with the firewall! Thanks for the quick answer.

[2020-07-22 22:51] #478 closed

[2020-07-25 07:29] jhurliman opened #485 "Support rendering visualization_msgs/ImageMarker messages from Node Playground"
Right now, Node Playground can only output to topics with the `/webviz_node/` prefix but the image panel will only seem to render `visualization_msgs/ImageMarker` messages from topics that share a namespace with cameras. I was hoping just setting the `frame_id` of the image marker to the same frame as my camera was enough to make the association.

On a separate note, it's much more difficult to cr

[2020-07-26 07:47] orshefi commented on #312
Is there any progress with a solution for this issue? limit X axis entries?

[2020-07-26 12:20] saeedfb opened #486 "Unauthorized error localhost"
Hi, I'm totally new on this. I tried to exactly follow all procedures and at the end, managed to build the webviz. however, when I open the localhost:5000, I get following error even though I imported the certificate:

Unauthorized
The server could not verify that you are authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn'

[2020-07-28 15:53] troygibb commented on #486
Hi @saeedfb! Thanks for submitting this issue -- can you provide the browser and OS you're using?

[2020-07-28 16:00] troygibb commented on #312
Check out the plot panel settings:

![Screen Shot 2020-07-28 at 8 56 02 AM](https://user-images.githubusercontent.com/18633748/88690273-54939100-d0b0-11ea-80fb-bc70f4af4abb.png)

There's an `X range` field for at least limiting the # of x axis entries from a visual standpoint.

As far as performance is concerned, we still don't have a way of limiting the number of points in the Plot panel. We've b

[2020-07-28 16:15] troygibb commented on #485
Topics that share a namespace with the camera are only used to provide the default list. There should be an `Add topic` button at the bottom of that list, which will allow you to subscribe to any topic you like. Is that showing up for you?

As for no `ImageMarkerArray` message type, that's an interesting point. We do support an array type internally. One hack you could potentially use is to change

[2020-07-28 23:57] jhurliman commented on #485
@troygibb that's correct, my mouse cursor turns into a circle with a line through it and the greyed out dropdown says "no markers" even though I can see my `visualization_msgs/ImageMarker` messages being continuously published to a `/webviz_node/...` topic with the raw messages panel.

[2020-08-03 00:28] castaway2000 commented on #469
I am also having the same issue but with an Ouster Lidar Sensor.

[2020-08-03 03:43] castaway2000 opened #490 "[information request] lidar point cloud color data"
in my implementation it seems that webviz defaults all points to being white. However, in the demo and in my local compiled driver for the lidar sensor i have i can see color coded data when streaming and replaying bag files. How can we visualize the color coded pointclouds in webviz?

[2020-08-04 12:45] jasonimercer opened #491 "Marker Array Points Not Scaled Correctly"
Points in a Marker Array message are scaled in units of pixels rather than meters as the unit in other elements.

issue:

https://github.com/cruise-automation/webviz/blob/master/packages/regl-worldview/src/commands/Points.js#L32

vs

code that considers the camera:

https://github.com/cruise-automation/webviz/blob/master/packages/regl-worldview/src/commands/Lines.js#L147-L151

rviz and webviz visu

[2020-08-04 20:10] troygibb commented on #491
Thanks @jasonimercer for reporting! We may have to refactor our `<Points />` command to account for this issue.

Can you describe your use case a bit more? Why do you need to express points so exactly? Why not use some of our other primitive shapes?

cc @hhsaez

[2020-08-04 21:10] jasonimercer commented on #491
We use Marker Arrays for rich diagnostics. Our code publishes lines, polygons, arrows, text, points to give our triage teams an easier view into the state of the robot and the surroundings.

In this marker array we denote remembered obstacles that were point-like as well as obstacles that were identified as moving polygons. We also show demarcations between regions we can observe and will add data

[2020-08-05 11:57] jack-slingsby-5 opened #493 "npm test fails"
Hiya,
On the most recent version of the master branch the following 3 tests fail:

[code]

[code]

[code]

[2020-08-05 13:28] jasonimercer commented on #491
Callout added to image above demonstrating issue:

![89295041-633cf380-d62e-11ea-91d0-8312688ddb38](https://user-images.githubusercontent.com/12039018/89418377-f85aed80-d6fd-11ea-9bb0-434a4c9091b3.png)

[2020-08-05 16:34] jack-slingsby-5 commented on #493
I'm running v12.18.1

[2020-08-05 17:24] troygibb commented on #493
Try running `v10.16.3` -- we should make this requirement more explicit in our docs.

[2020-08-06 08:59] jack-slingsby-5 commented on #493
Yep that seemed to the the problem! All the tests are passing fine in `v10.16.3`. Thanks :)

[2020-08-06 08:59] #493 closed

[2020-08-06 16:02] troygibb commented on #491
Thanks Jason for the context -- I just wrote a ticket to track this issue internally.

[2020-08-19 03:20] castaway2000 opened #495 "Unable to stream bagfile from presigned s3 bucket"
I have a pre-signed s3 url for a bag file. I have tested that it is available, i can download it to my local machine and the curl output shows the appropriate headers present. The Following is a copypaste from my s3 bucket of the CORS configuration and below that is my curl snippet (which does indeed download the file contents).

**I am attempting to come up with a reason i am still getting the**

[2020-08-19 03:33] castaway2000 commented on #495
Ok for sake of solving my own issue... cause its not very clear in the error documentation it appears that all remote bag urls MUST be url encoded (including private URL's) which the error documentation is a bit misleading. I decided to just encode the url to test it and it solved my problem.

## As per the docs:
First of all, be aware that redirects don't work with CORS. So you'll have to point t

[2020-08-19 10:08] margrudniak opened #496 "missing transforms to root transform velodyne"
I ran map_server with yaml file and that's what happened.
On RViz everything works fine.
How i can see on Raw Message i can see object of map with all info.
On  yellow 'warning' is posted:

Topic /map has bad frame
Non-root transforms may be out of sync, since webviz uses the latest transform message instead of the one matching header.stamp

How to solve this problem?

[2020-08-19 13:31] margrudniak commented on #496
Okay, how i can see we can see this problem also about the demo. Whenever you're changing (scene?) you can see that error.
In my case, i just had to select raw message with topic '/map' one more time, and then after a while i have seen my map.

[2020-08-19 13:31] #496 closed

[2020-08-20 05:16] vidaaudrey commented on #495
Hi @castaway2000, glad you figured it out. Another alternative is to have `remote-bag-url` be the actual file url but use the the BE server to generate a signedUrl for the FE to stream from. Bit work from the BE but that keeps the url short and readable.

[2020-08-20 05:31] castaway2000 commented on #495
@vidaaudrey you will have to excuse me and my ignorance here but what is BE and FE?

[2020-08-20 17:24] vidaaudrey commented on #495
@castaway2000  sorry for the confusion. The open source version of Webviz doesn't contain any backend, but you could build your own backend API endpoint to take the URL and return the signedURL instead.  e.g. from the [PlayerManager.js](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/components/PlayerManager.js#L233),
[code]

[2020-08-24 12:24] ajayvohra2005 opened #497 "npm run bootstrap for static build fails with error"
This is for hash commit:  e4af0f2e0a049e4589a6e19fddb71c6f6a86ac8c
Ubuntu 18.04

[code]

[code]
[code]

[code]

[code]

[code]

[2020-08-24 12:30] ajayvohra2005 opened #498 "Error: Unsupported encoding 8UC3 for sensor_msgs/Image msgs in Image panel"
Raw  messages received on ```sensor_msgs/Image``` data type topic are displayed fine in webviz, but when viewing these messages in a webviz Image panel, I see the error **Error: Unsupported encoding 8UC3**.  ```rosbridge``` server is using ros noetic distro running in ubuntu focal.

[2020-08-24 15:39] vidaaudrey commented on #497
The node and npm version looks a bit old. Could you try upgrade? My current npm version is 6.13.4 and node version is 10.16.3.

[2020-08-24 17:12] davidcrawford commented on #498
Hi Ajay, could you provide a sample bag to reproduce the issue?

[2020-08-25 17:07] zlg9folira commented on #497
I had the same issue, upgraded node.js and npm  to 14.4 and 6.14:
`node -v : v14.4.0`
installed at:
`which npm: /home/user/.nvm/versions/node/v14.4.0/bin/npm`
`npm -v :
{
  npm: '6.14.8',
  ares: '1.16.0',
  brotli: '1.0.7',
  cldr: '37.0',
  icu: '67.1',
  llhttp: '2.0.4',
  modules: '83',
  napi: '6',
  nghttp2: '1.41.0',
  node: '14.4.0',
  openssl: '1.1.1g',
  tz: '2019c',
  unicode: '13.0',

[2020-08-25 17:10] vidaaudrey commented on #497
We haven't tested with higher node versions yet. @zlg9folira  could you use nvm to try node v.10.16.3 and see if that works for you?

[2020-08-25 17:31] zlg9folira commented on #497
Node v10.16.3 with 6.9.0 worked. All builds passed:
`npm run bootstrap # install dependencies`
`npm run build # build all packages`
`npm run build-static-webviz # generate static build in __static_webviz__`
`npm run serve-static-webviz # serve static build on localhost:8080`

Thanks

[2020-08-25 18:43] ajayvohra2005 commented on #498
I am unable to share a sample bag but I can share in detail what I am doing.

Steps outline:
* Converting using ```cv2_to_imgmsg``` with pass through encoding
* I am writing to a bag file
* I am publishing the bag file
* Reading the ros topics in ```webviz``` via ```rosbridge```

[code]

[2020-08-26 03:30] castaway2000 commented on #490
Reopening as i still have not been able to figure out how to render color based on things like luminosity or distance, etc. Is there a message for the 3d view that i would need to make sure is present? what would I be missing?

[2020-08-26 17:18] flynneva commented on #490
click `Edit Topic Settings`....from there you should be able to select the color based on field of the pointcloud

![image](https://user-images.githubusercontent.com/6157095/91335419-35f2e980-e785-11ea-89b5-c5e887ddf380.png)

[2020-08-26 17:31] castaway2000 commented on #490
@flynneva is this on all topics or only some topics? i am not sure mine has the edit logo on the standalone, i did not see that till now. That is a big help thank you. feel free to close this out.

[2020-08-26 17:45] flynneva commented on #490
i think it should be on all of them. its just to edit how the data is visualized so its specific to webviz not the topic.

[2020-08-26 21:42] castaway2000 commented on #490
@flynneva i got to test this a little bit today on my lunch break. turns out if you don't see the pencil next to the logo (this was my case) this means its running default settings. the three dot menu  that you pointed out to select edit settings is sure enough there. that was awesome to flip on. Thanks a bunch.

[2020-08-26 21:42] #490 closed

[2020-08-26 21:55] #497 closed

[2020-08-26 21:57] vidaaudrey commented on #495
@castaway2000 gonna close the issue now. Let us know if you have any questions

[2020-08-26 21:57] #495 closed

[2020-08-26 22:01] vidaaudrey commented on #498
Hi @ajayvohra2005 we currently support a handful of encodings which doesn't yet include `8UC3`: https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/ImageView/renderImage.js#L11-L20

Maybe you could try using other encoding format? Also feel free to open a PR to add additional decoding support :)

[2020-08-27 20:22] zlg9folira commented on #162
I have `/os1_cloud_points/points` of type `sensor_msgs::PointCloud2` in my bag files. I am trying to visualize through 3D panel inside WebWiz. It however does nothing. There is a toggle point next to topic name in the panel. When I select that, a red `error` sign appears:
`Missing transform to root transform map`

Any idea ?

[2020-08-27 20:46] vidaaudrey commented on #162
Hi @zlg9folira, at the right side of the 3D panel, you could choose which the root frame and all the other markers will be rendered according to the correct root frame. As for why do we need `/tf`, here is the link to read more: http://wiki.ros.org/tf#:~:text=Package%20Summary&text=tf%20is%20a%20package%20that,any%20desired%20point%20in%20time.

[2020-09-01 15:01] XinnWang opened #502 "Failed to decode image on ios chrome"
Hi, thanks for the great work!

i want to open the Webviz on my iphone or ipad. i am using the chrome but got following warning when opening the url:

<img width="200" alt="chrome_update" src="https://user-images.githubusercontent.com/5515327/91866702-61099b80-eca5-11ea-9626-1a960b1c7149.png">

after choosing the "continue anyway", i got following error:

<img width="500" alt="image_decode_failed"

[2020-09-01 15:24] troygibb commented on #502
Thanks @XinnWang! We don't officially support iOS or iPadOS-- so there may be an issue. It would be also helpful to know whether this works on your desktop browser.

[2020-09-01 15:40] XinnWang commented on #502
@troygibb  is Android supported?

[2020-09-01 15:45] troygibb commented on #502
Not officially.

[2020-09-02 14:24] maxlein commented on #461
Pls update the invite

[2020-09-02 16:20] troygibb commented on #461
Here you go! https://join.slack.com/t/webvizchat/shared_invite/zt-h036wkmu-y5AxRCzSRdNbAJw0zYMA4g

[2020-09-04 16:04] muraki-t4 opened #503 "visualization_msgs/MarkerArray is not rendered correctly on Android Chrome"
Hi, Team.

Thank you for your great work :)

I'm trying to render the vector map (like the following `visualization_msgs/MarkerArray` messages) in a 3D panel **on Android Chrome**.

But the map is not rendered correctly on only one device even though each Android Chrome version is same.

I’m not sure but I think this issue was caused by the difference of chip set on Android.

**Can you think of an

[2020-09-04 18:12] vidaaudrey commented on #503
@muraki-t4 could you perhaps create a codesandbox with the marker array data so we could try to reproduce in different devices? We haven't been supporting mobile devices in the past. Would be interesting to know what are the limits so we could plan for our support accordingly.

[2020-09-07 13:51] #502 closed

[2020-09-08 20:33] shivaghose opened #506 "[bug-report] Unable to split/close panels using the gearbox UI"
Hi folks!

I think a bug was introduced recently: I'm unable to split panels or remove panels. I found this error reproduces on the latest version of Google Chrome (Version 85.0.4183.83 on Mac OS, and 85.0.4183.102 on Ubuntu) as well as Safari and persists if I try it out in incognito mode. For what it's worth, I am still able to split panels using the `` `/~ `` shortcut (although that doesn't let

[2020-09-08 20:38] vidaaudrey commented on #506
Hi Shiva, thanks for reporting! Definitely a bug at our side and `remove panel` is also not working. Will working on fixing it now!  As a temporary workaround, you can drag the panel to the place and it'll auto split for you:
![panel](https://user-images.githubusercontent.com/10999093/92525308-749e9000-f1d8-11ea-86ce-8bee9ec85c05.gif)

[2020-09-08 20:40] shivaghose commented on #506
Thanks, Audrey! Cheers!

[2020-09-09 00:00] vidaaudrey commented on #506
@shivaghose  it's working now. Let us know if you still see issues!

[2020-09-09 00:00] #506 closed

[2020-09-09 01:32] shivaghose commented on #506
Yup, can confirm it works. Thank you very much! :party-parrot:

@vidaaudrey Also FYI (not sure if this this intentional): the point clouds aren't colored by default anymore in the webviz demo (they're usually colored with the rainbow setting, I believe).

[2020-09-09 02:06] vidaaudrey commented on #506
Yeah, the settings got cleared and wasn't intentional. I just played around and this default layout looks good (let me know if you think otherwise). Will update the default layout tomorrow.
[code]

[2020-09-09 02:19] shivaghose commented on #506
I'm partial to the colored point clouds (it does a really good job of highlighting various objects in the FOV):
[code]
But other than that, LGTM! :shipit:

[2020-09-09 02:21] shivaghose commented on #506
Also I'm a big fan of the single 3D panel on the left as opposed to two panels like in the older default config.

[2020-09-09 07:21] muraki-t4 commented on #503
@vidaaudrey Sorry for my late response. Is threre any templates of codesandbox for webviz?

[2020-09-11 02:04] muraki-t4 commented on #503
This issue is caused by GPU chip (IMG PowerVR GE8320).
I confirmed it is not occurred on GPU chip (Qualcom Adreno).

[2020-09-11 02:04] #503 closed

[2020-09-14 19:37] vidaaudrey commented on #506
Updated with your suggestion  :)

[2020-09-14 19:51] shivaghose commented on #506
🍻  😄

[2020-09-20 23:54] vivekrathi14 opened #518 "Error while loading 3D panel"
I am using Ubuntu 18.04, ROS melodic. I am trying to use webviz for visualization of hector drone and turtlebot3.
I am launching desired nodes and rviz on my local machine, followed by launching rosbrige_websocket and then opening
https://webviz.io/app/ on my same local machine which has ROS nodes launched in it.

I tried with both hector drone and turtlebot3 but couldn't get 3D panel/view working

[2020-09-21 00:45] vivekrathi14 commented on #181
@jtbandes Did you solve this issue?

[2020-09-21 14:58] troygibb commented on #181
@vivekrathi14 this was probably closed due to inactivity-- are you running into the same issue?

[2020-09-21 17:01] vivekrathi14 commented on #181
@troygibb Yes I am facing the same issue. Same problem with npm as per above points 1 & 2. Initially I was able to do  `sudo npm run bootstrap` (I am in webwiz directory while running this). However I got errors with npm run build. I wasn't able to fix them. After doing this when I ran my ros project almost all packages like gazebo, rviz were uninstalled (similar to 1) & later doing `npm run boots

[2020-09-25 16:37] jasonimercer commented on #491
I see code has been merged related to this case. Is it live on the demo site or is there something that needs to be done to trigger it? When I load my example bag file above into the demo site the display appears the same.

[2020-09-25 17:16] troygibb commented on #491
We're still waiting on some internal updates to be made before updating open source with the new change. @hhsaez can you make sure to update open source once that PR lands?

[2020-09-25 18:02] jasonimercer commented on #491
Wonderful, happy I wasn't missing something obvious on the demo site :)

[2020-09-29 08:35] sky4133 opened #520 "change localhost to ip"
How can I change the localhost to a ip address?
I want to browse the webviz program from the ip address ,
and then , I can browse it in another computer .

[2020-09-29 16:22] troygibb commented on #520
Hello! Check out this [stack overflow answer](https://stackoverflow.com/questions/13322485/how-to-get-the-primary-ip-address-of-the-local-machine-on-linux-and-os-x). That'll give you some tools on how to ascertain your machine's ip in your network.

[2020-09-29 16:22] #520 closed

[2020-09-30 02:42] sky4133 opened #522 "change color of radar points in 3D panel"
In my Webviz, the color of online radar points is only white with black background,
how could I change the color to "Rainbow" like the Demo from Webviz.

Ps, when the key "colorMode", which is copied from Webviz demo, was add into Json of panel setting , nothing changed.
  "settingsByKey": {
    "t:/rslidar_points": {
      "colorMode": {
        "mode": "rainbow",
        "colorField": "ring"

[2020-09-30 02:57] sky4133 commented on #520
Thanks for your answer， now I can browse the webviz with the machine's IP like,http://192.168.0.90:8080/app/, and also the website can be browsed  from another computer in the same local area network.
But when I browse the website from another computer，the webviz can't receive the Radar Topic an data.
Could you give me some advise?

[2020-09-30 03:21] vidaaudrey commented on #522
@sky4133  if you color by `ring`, you'll need to make sure this field is actually available in the lidar data. Otherwise, you can always choose to color by other available fields.
![color](https://user-images.githubusercontent.com/10999093/94639515-2dfcfc80-0291-11eb-8f6f-fd3518ccd70f.gif)

[2020-09-30 04:02] sky4133 commented on #522
thank you !!! it works

[2020-09-30 05:14] sky4133 opened #523 "close"

[2020-10-05 08:39] lukicdarkoo commented on #461
Please update the link

[2020-10-05 15:30] troygibb commented on #461
Done! https://join.slack.com/t/webvizchat/shared_invite/zt-hyo9jggj-n4dwegVa290HM5PpPRWBZw

[2020-10-07 19:07] conrad commented on #337
On Android Chrome version 84.0.4147.136, the page is erroring out in `WorldviewContext.initialize`:
`Error: (regl) "oes_texture_float" extension is not supported by the current WebGL context, try upgrading your system or a different browser`. No more updates on Chrome available, and this also happens on the dev build.

The page loads successfully on Firefox on Android, but you can't zoom, rotate,

[2020-10-09 01:25] sky4133 commented on #523
May anybody help me ?

[2020-10-19 16:01] vidaaudrey commented on #523
Hi @sky4133, are you trying to view the radar topic from websocket or a bag? Is the topic turned on (e.g. in the topic tree of 3D panel or Raw Messages panel) in the other computer that you are trying to browse from?

[2020-10-19 16:02] #522 closed

[2020-10-19 16:18] vidaaudrey commented on #518
Hi @vivekrathi14, could you record a bag for us to debug the 3D panel rendering issue?
- RE `it takes quite some time for webviz to load`, do you mean running ros/ros bridge and building webviz all together? The Webviz build process should only take ~2 mins.  Once you have webviz running in the browser, you could keep it on all the time.
- We currently don't support URDF model, but you could conve

[2020-10-19 16:21] vidaaudrey commented on #469
@rawanbadr  closing the issue now. Let me know if you still have problem visualizing the topic.

[2020-10-19 16:21] #469 closed

[2020-10-19 16:26] #440 closed

[2020-10-19 16:33] vidaaudrey commented on #391
@ubicray  pls refer [importPanelLayout](https://github.robot.car/cruise/webviz/blob/master/webviz-core/src/reducers/panels.js#L392-L411) for implementation. You could render different layouts in the menu, and call `importPanelLayout` after the user clicks the menu items.  Gonna close the issue now and let me know if you have any questions.

[2020-10-19 16:33] #391 closed

[2020-10-19 16:34] #390 closed

[2020-10-19 19:33] hhsaez commented on #491
@jasonimercer! Webviz has just been updated with the fix for point sizes. Please give it a try when you have the chance.

[2020-10-19 19:45] jasonimercer commented on #491
Brilliant! I'll try today.

[2020-10-19 19:49] jasonimercer commented on #491
There may be a factor of 2 issue somewhere? Throwing the test bag above into the live server shows a difference but feels like the squares are about 2x too large?

I'll look closer this evening.

[2020-10-20 13:30] jasonimercer commented on #491
![image](https://user-images.githubusercontent.com/12039018/96592411-5b4c3180-12b6-11eb-999d-d27920d78af8.png)

Looks like the marker array boxes are now 1m across while the scale calls for a 0.2m x 0.2m boxes.

[2020-10-20 18:30] iwanders commented on #491
I've filed #529 , which fixes the point scaling with scales below `1.0`.

[2020-10-21 12:03] haojiaping commented on #298
Hi,Can you speak Chinese?   I found a serious one in your project.

[2020-10-21 16:57] vidaaudrey commented on #298
Thanks for reporting.  @haojiaping  pls feel free to set up a Google hangout to review/repro the issues together. audrey.li@getcruise.com. Or we could communicate via webviz slack https://join.slack.com/t/webvizchat/shared_invite/zt-hyo9sacz-4jAA5ADjaTaolUBwesMMZQ.

[2020-10-22 06:44] haojiaping commented on #298
I have sent an email to you. This memory leak problem occurs every time you open a project. After about 10 minutes, the browser's memory will be full and cause a crash.

[2020-10-23 02:35] sky4133 commented on #523
hi vidaaudrey， I can browse the webviz with Lidar data in the local computer, which can connect the lidar . But the Lidar data can only send to the local comuputer,  it can not be transform to another computer in the same LAN . Now only the webviz can be browsed from LAN without Lidar data.

[2020-10-23 13:07] iwanders commented on #491
@jasonimercer, I think this issue can be closed now that the scaling is correct in the latest version of `master`?

[2020-10-23 13:30] #491 closed

[2020-10-23 16:29] CebulowyNinja opened #534 "Error when Publisher component is rendered before rosClient connection hook runs"
Hi,

I found an issue in the _webviz-core_, when the Webviz are connected to the rosbridge via a websocket.
If the Publisher component is rendered before the `rosClient` (roslib.Ros instance) `connection` hook runs at [RosbridgePlayer.js:98](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/players/RosbridgePlayer.js#L98) an error listed below occured. It's caused by

[2020-10-24 05:07] #353 closed

[2020-10-29 12:27] Uezzi opened #538 "Error playback demo.bag in clean chrome"
First congratulation for the great Webviz project! However, I have an issue testing the demo.bag file (downloaded [here](https://open-source-webviz-ui.s3.amazonaws.com/demo.bag)). I'm using google chrome 86.0.4240.111 after clearing the complete history including caches.

If I browse the Webviz page (e.g. the [hosed one](https://webviz.io/app)) and drop the demo.bag file there and activate the top

[2020-10-29 15:45] vidaaudrey commented on #538
Hi @Uezzi, if you change the follow option to `velodyne` at the right side of the 3D panel, you should see the the markers showing up. Let me know if you still have issues.

![image](https://user-images.githubusercontent.com/10999093/97597339-f33ad100-19c2-11eb-8958-1346eb2591ab.png)

[2020-11-02 10:11] Uezzi commented on #538
Hi @vidaaudrey , it works now. Thanks for your help!

[2020-11-02 10:11] #538 closed

[2020-11-09 22:16] rgov opened #541 "Building the static Docker container fails"
When I try to build the static Docker container, it runs `npm run install-ci` which fails:

[code]

[2020-11-10 03:19] rgov opened #543 "Static HTML panel"
It would be useful to have a panel for displaying static HTML content. In my use case, I have an IP camera monitoring our system from afar, and its video is not part of the rosbag; I'd like to just embed an `<iframe>` for the camera's video stream.

Another use case would be loading an HTML form with buttons for controlling a robot.

[2020-11-10 03:23] vidaaudrey commented on #543
That's an interesting idea. Feel free to open a PR for it. We do have a simple [Note panel](https://github.com/cruise-automation/webviz/blob/master/packages/webviz-core/src/panels/Note/index.js) which you could use as reference :)

[2020-11-10 16:35] rgov opened #544 "Plot jitters due to format of x-axis label"
![ezgif-2-d72313466639](https://user-images.githubusercontent.com/108767/98702499-6db30b80-2348-11eb-9971-d868b66146ba.gif)

This is a plot of a value over time. The plot keeps jumping because the rightmost x-axis label sometimes switches from 1 digit of precision to 2.

Chrome 86.0.4240.183 (Official Build) (macOS 10.15.7, x86_64)
Webviz HEAD from repo (5600007)

[2020-11-10 16:50] rgov commented on #461
@troygibb A new link please?

[2020-11-10 17:34] vidaaudrey commented on #544
Hi @rgov, thanks for reporting. Will track this issue internally and fix it soon.

[2020-11-10 19:52] troygibb commented on #461
Done again! https://join.slack.com/t/webvizchat/shared_invite/zt-j6z2kcbl-aJHPkK~99~oYHv7LWrODRA

[2020-11-12 14:48] rgov opened #548 "Two y-axis scales on one plot"
Is it possible to plot two series on a single plot with different y-axis scales, as in this Matplotlib example? https://matplotlib.org/gallery/api/two_scales.html

If not, could you please point me to what the implementation would entail?

[2020-11-19 05:47] #541 closed

[2020-11-19 12:21] gismo07 opened #552 "Node Playground: simple example for sum two signals"
We are looking for a small example to sum two signals and publish a simple Float32 message inside the node playground.

[2020-11-19 16:28] troygibb commented on #552
Here you go! The key is to sync the two topics as `publisher` is invoked:

[code]

[2020-11-19 16:38] gismo07 commented on #552
Thank you for the quick response. Ill check it out

[2020-11-23 15:44] hhsaez commented on #298
@baoyule-js @haojiaping @vidaaudrey I've created [this branch](https://github.com/cruise-automation/webviz/pull/554) in order to attempt to reproduce this problem, without luck so far.

The story I created (executed by using `npm run storybook`) creates a scene with multiple `<GLTFScene />` elements and then starts updating them multiple times. I let it run for about an hour and in my case, memory

[2020-12-08 07:49] zhihao95 opened #557 "Webviz fails to initialize when plots are being displayed"
I'm currently having a issue when intializing webviz with the layout containing plots. This seems to only happen to Windows as i tried it on Ubuntu and it works fine.

![image](https://user-images.githubusercontent.com/30144933/101455069-f08dad00-396c-11eb-9540-054016c68c54.png)

[2020-12-08 18:45] rgov commented on #548
It looks like Chart.js does support it:

https://www.chartjs.org/samples/latest/charts/line/multi-axis.html

Basically you create multiple axes with different IDs, and then the data set gets a `yAxisID` property to link it to an axis.

[2020-12-08 19:22] rgov commented on #371
Has there been any progress here? Or, what would it take to extend this for service calls?

[2020-12-09 06:10] sky4133 opened #558 "close、"

[2020-12-09 12:19] polleyr commented on #520
Set up your rosbridge to use the IP address of the host PC in your network (so 141.XX.XX.XX:9090 and not 0.0.0.0:9090 for example). You can use [this launchfile](https://github.com/RobotWebTools/rosbridge_suite/blob/develop/rosbridge_server/launch/rosbridge_websocket.launch), just edit the 3rd line.

 Then you can use 141.XX.XX.XX:8080/?rosbridge-websocket-url=ws://141.XX.XX.XX:9090 in order to co

[2020-12-09 16:55] troygibb commented on #371
Hi @rgov! To my knowledge we haven't updated the Publish panel to make service calls. Have you tried tweaking it as JP suggests above?

[2020-12-09 17:27] jaguardo commented on #423
I'm not seeing that option on any of the browsers I've tried... is there a browser setting to change?

[2020-12-09 17:49] jaguardo commented on #341
I'm kind of new to this, so sorry if this is not helpful! I got the same error and tried
[code]

and got similar errors,

I then **deleted** package-lock.json and the node_modules and then bootstrap ran without errors (as well as the build process).  I'm having difficulties with getting the `npm run docs-deploy` to work however, but I'll post that in another topic.

[2020-12-10 13:23] jaguardo commented on #423
So for those that are interested, for Chrome I had to do a few extra steps... I wasn't getting the "sheild" and at first I was getting the "Secure" symbol on Chrome:
![image](https://user-images.githubusercontent.com/28798269/101776715-60ac4800-3abf-11eb-8ed6-f6d6d6725947.png)
even when I added the ip address to another computer on the network. makes it appear everything is ok... unfortunately it

[2020-12-10 17:46] vidaaudrey commented on #423
Thank you @jaguardo  for documenting the details.

[2020-12-10 17:50] vidaaudrey commented on #341
@jaguardo what's your node version? We support `>=10.22.0 <12`.

[2020-12-10 18:12] jaguardo commented on #341
copy that... I just installed the latest, so v15? I'll have to try downgrading, just not sure what else that will break.  I just thought it was interesting that I could get around the errors by deleting/re-install... obviously not a good long term solution, however it works... up until I got to ```npm run docs-deply``` but I think I might appreciate why that isn't working (stand alone machine with

[2020-12-11 18:32] CalvinKroese commented on #461
@troygibb Could you send a new link please?

[2020-12-11 18:43] troygibb commented on #461
Done again again! https://join.slack.com/t/webvizchat/shared_invite/zt-k3nj8jx0-qhg~wTmqfklJWVjPRWiVBQ

[2020-12-13 05:50] castaway2000 opened #560 "[Question] how to configure for SSL/TLS"
I am running webviz via the standalone docker process in an iframe on a subdomain that looks like this: data.example.com:8080

it only works on http, when I load it using https in the root domain it fails to load stating a cert error. The cert in question that is wrapping the whole web app is configured as a wildcard cert(*.example.com). I suspect this to be an issue with the app being different f